﻿@using MitPvs.Feature.Controllers
@using MitPvs.Feature.Managers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MitPvs.Feature.Models.AcceptTermsFormModel>
@{
    var flowManager = new FlowManager();
}
@using (Html.BeginUmbracoForm<CreateProfileController>("AcceptTermsStep", null, new { id = "accept-terms-form" }))
{

    <label>@Html.CheckBoxFor(m => m.Accepted, new { @class = "checkbox", onclick= "acceptTerms();" })@Umbraco.Field(MitPvs.Feature.Constants.Terms.FieldNames.AcceptTermsText)</label>

    <div class="btn-group">
        <i id="prev-button" class="icon-widget-arrow-up icon-btn left"></i>
        <a href="@flowManager.GetFirstStepUrl()" class="btn btn-clear">@Umbraco.Field(MitPvs.Feature.Constants.Terms.FieldNames.RejectTermsButtonText)</a>

        <input type="submit"
               class="btn btn-filled" disabled
               value="@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.ButtonText)"
               name="__next" />
    </div>
}
