﻿@using MitPvs.Feature.Controllers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MitPvs.Feature.Models.ConfirmEmailFormModel>
@{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper();
    var qs = Request.QueryString["verifyerror"];
}
<ol>
    <li>
        <p>
            @umbracoHelper.GetDictionaryValue("ConfirmEmailForm.GoToEmailText") <b>@Model.Email</b>. @umbracoHelper.GetDictionaryValue("ConfirmEmailForm.OpenText")
        </p>
        <small>@umbracoHelper.GetDictionaryValue("ConfirmEmailForm.HaveYouReceivedText")  @Html.ActionLink(@umbracoHelper.GetDictionaryValue("ConfirmEmailForm.SendAgainText"), "SendEmailAgain", "CreateProfile",new { url = Request.Url }, null)</small>
    </li>
    <li>
        @using (Html.BeginUmbracoForm<CreateProfileController>("ConfirmEmailStep", null, new { id = "confirm-email-form" }))
        {
            @Html.HiddenFor(m => m.EmailCode)
            @Html.HiddenFor(m => m.Email)
            <label for="smskode">@umbracoHelper.GetDictionaryValue("ConfirmEmailForm.WriteCodeText") </label>
            <div class="form-group verifycode">
                <input name="first" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input name="second" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input name="third" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                <input name="fourth" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />

            </div>
            if (!string.IsNullOrEmpty(qs) && qs == "true")
            {
                <div class="alert alert-danger" role="alert">
                    @umbracoHelper.GetDictionaryValue("ConfirmEmailForm.WrongCodeText")
                </div>
            }
            <!-- Button disabled until code are types-->
            <button type="submit" class="btn btn-filled btn-test" disabled>@umbracoHelper.GetDictionaryValue("ConfirmEmailForm.ConfirmEmailButtonLabel") </button>
        }
    </li>
</ol>
