﻿@using MitPvs.Feature.Controllers
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ 
    var iconOne = Model.GetPropertyValue<IPublishedContent>("iconOne");
    var iconTwo = Model.GetPropertyValue<IPublishedContent>("iconTwo");
    var iconThree = Model.GetPropertyValue<IPublishedContent>("iconThree"); 
}
@using (Html.BeginUmbracoForm<CreateProfileController>("CustomRightAreaStep", null, new { id = "category-form" }))
{

    var umbracoHelper = new Umbraco.Web.UmbracoHelper();
    var dataType = ApplicationContext.Services.DataTypeService.GetDataTypeDefinitionByName("PVS Member - RightArea - Checkbox list");
    var preValues = ApplicationContext.Services.DataTypeService.GetPreValuesCollectionByDataTypeId(dataType.Id);

    <div class="cards">
        <div class="card-wrapper">
            <input class="c-card" type="checkbox" id="1" name="RightArea" value="@preValues.PreValuesAsDictionary["0"].Id">
            <div class="card-content">
                <label for="1">
                    @if (iconOne != null)
                    {
                        <img src="@iconOne.Url" alt="@iconOne.Name" />
                    }
                    <p>@preValues.PreValuesAsDictionary["0"].Value</p>
                </label>
            </div>
        </div>

        <div class="card-wrapper">
            <input class="c-card" type="checkbox" id="2" name="RightArea" value="@preValues.PreValuesAsDictionary["1"].Id">
            <div class="card-content">
                <label for="2">
                    @if (iconTwo != null)
                    {
                        <img src="@iconTwo.Url" alt="@iconTwo.Name" />
                    }
                    <p>@preValues.PreValuesAsDictionary["1"].Value</p>
                </label>
            </div>
        </div>

        <div class="card-wrapper">
            <input class="c-card" type="checkbox" id="3" name="RightArea" value="@preValues.PreValuesAsDictionary["2"].Id">
            <div class="card-content">
                <label for="3">
                    @if (iconThree != null)
                    {
                        <img src="@iconThree.Url" alt="@iconThree.Name" />
                    }
                    <p>@preValues.PreValuesAsDictionary["2"].Value</p>
                </label>
            </div>
        </div>

    </div>

    <div class="btn-group">
        <i id="prev-button" class="icon-widget-arrow-up icon-btn left"></i>
        <input type="submit"
               class="btn btn-filled"
               value="@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.ButtonText)"
               name="__next" 
               disabled />

    </div>
}
