﻿@using MitPvs.Feature.Controllers
@using MitPvs.Feature.Managers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MitPvs.Feature.Models.RestoreProfileFormModel>

@{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper();
    var userProfileStateManager = new UserProfileStateManager();

    var email = string.Empty;
    var innerClass = "inner";
    var style = "";
    var qs = Request.QueryString["error"];
    var checkedClass = "checkmark";
    if (!string.IsNullOrEmpty(userProfileStateManager.Email) || !string.IsNullOrEmpty(qs))
    {
        email = userProfileStateManager.Email;
        innerClass = "inner show";
        style = "display: block; opacity: 1;";
        checkedClass = "checkmark checked";
    }
}
<a class="toggle" href="javascript:void(0);">
    <div class="@checkedClass"></div> @umbracoHelper.GetDictionaryValue("RestoreProfileForm.RestoreWithEmailButtonText")
</a>
<div class="@innerClass" style="@style">
    <ol>
        <li>
            @using (Html.BeginUmbracoForm<RestoreProfileController>("SendCodeByEmail", null, new { id = "send-code-email-form" }))
            {

                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "true", @Value = email, @type = "email" })
                    @if (!string.IsNullOrEmpty(qs) && qs == "1")
                    {
                        <div class="alert alert-danger" role="alert">
                            @umbracoHelper.GetDictionaryValue("RestoreProfileForm.WrongEmailText")
                        </div>
                    }
                    <label for="Email">@umbracoHelper.GetDictionaryValue("RestoreProfileForm.WriteEmailLabel")</label>
                </div>

                <button type="submit" id="sendCodeButton" class="btn btn-filled">@umbracoHelper.GetDictionaryValue("RestoreProfileForm.SendCodeButtonText")</button>
                <a href="#" onclick="$('#sendCodeButton').click();"><small>@umbracoHelper.GetDictionaryValue("RestoreProfileForm.ResendCodeButtonText")</small></a>

            }
        </li>
        <li>
            @using (Html.BeginUmbracoForm<RestoreProfileController>("ConfirmCode", null, new { id = "confirm-email-form" }))
            {
                @Html.HiddenFor(m => m.EmailCode)
                <input id="Email" name="Email" type="hidden" value="@email">

                <div class="form-group verifycode">
                    <input name="first" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                    <input name="second" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                    <input name="third" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
                    <input name="fourth" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />

                </div>
                if (!string.IsNullOrEmpty(qs) && qs == "2")
                {
                    <div class="alert alert-danger" role="alert">
                        @umbracoHelper.GetDictionaryValue("ConfirmEmailForm.WrongCodeText")
                    </div>
                }
                <label for="smskode">@umbracoHelper.GetDictionaryValue("ConfirmEmailForm.WriteCodeText")</label>
                <!-- Button disabled until code are types-->
                <button type="submit" class="btn btn-filled" disabled>@umbracoHelper.GetDictionaryValue("RestoreProfileForm.ConfirmCodeButtonText")</button>
            }

        </li>
    </ol>

</div>