<div class="content">
	<div class="row">
		<div class="col-md-12 signup">
			<h2>Angiv alternativ email</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt voluptatem perspiciatis optio eligendi rerum hic id, tempora recusandae.</p>
			
			<form>
				<div class="form-group">
					<input type="email" class="form-control" required>
					<label for="exampleInputEmail1">Skriv din email</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" required>
					<label for="exampleInputEmail1">Gentag din email</label>
				</div>
				<button type="submit" class="btn btn-filled">Gem</button>
			</form>
			<small>Det er altid muligt at ændre din opsætning</small>
		</div>
	</div>
</div>
