
<div class="content">
	<div class="row">
		<div class="col-md-8 categoryprofil">
			<h2>Angiv hvilken Kategori, der passer bedst til dig</h2>
			<p>Du kan kun vælge en kategori</p>
			
			<ul class="radio-list">
				<li>
					<label class="container">Jeg arbejder med IP i en virksomhed
						<input type="radio" name="radio">
						<span class="checkmark"></span>
					</label>
				</li>
				<li>
					<label class="container">Jeg er ansat ved en IP-rådgiver
						<input type="radio" name="radio">
						<span class="checkmark"></span>
					</label>
				</li>
				<li>
					<label class="container">Jeg arbejder som advokat
						<input type="radio" name="radio">
						<span class="checkmark"></span>
					</label>
				</li><li>
					<label class="container">Andet
						<input type="radio" name="radio">
						<span class="checkmark"></span>
					</label>
				</li>
			</ul>

			<div class="btn-group">
				<i class="icon-widget-arrow-up icon-btn left"></i>
				<div class="btn btn-filled">Afslut opsætning</div>
			</div>
			<small>Det er altid muligt at ændre din opsætning</small>
		</div>
	</div>
</div>
