<div class="content">
  <div class="row">
    <div class="col-md-8 categoryprofil">
      <h2>
        Vælge hvilke rettighedsområder, du vil have med i <span>Mit</span>PVS
      </h2>
      <p>vælg 1 eller flere områder</p>

      <div class="cards">
        <div class="card-wrapper">
          <input class="c-card" type="checkbox" id="1" value="1" />
          <div class="card-content">
            <label for="1">
              <img
                src="../../images/icons/Patentlogo-ingen-baggrund.svg"
                alt=""
              />
              <p>Patens &amp; Brugsmodel</p>
            </label>
          </div>
        </div>

        <div class="card-wrapper">
          <input class="c-card" type="checkbox" id="2" value="2" />
          <div class="card-content">
            <label for="2">
              <img
                src="../../images/icons/Varemærkelogo-ingen-baggrund.svg"
                alt=""
              />
              <p>Varemærke</p>
            </label>
          </div>
        </div>

        <div class="card-wrapper">
          <input class="c-card" type="checkbox" id="3" value="3" />
          <div class="card-content">
            <label for="3">
              <img
                src="../../images/icons/Designlogo-ingen-baggrund.svg"
                alt=""
              />
              <p>Design</p>
            </label>
          </div>
        </div>
      </div>

      <div class="btn-group">
        <i class="icon-widget-arrow-up icon-btn left"></i>
        <div class="btn btn-filled">Gem Profil</div>
      </div>
      <small>Det er altid muligt at ændre din opsætning</small>
    </div>
  </div>
</div>
