<div class="content">
	<div class="row">
		<div class="col-md-8 conditions">
			<h2>Godkend brugerbetingelser</h2>
			<div class="conditions-textbox">
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aut, vitae, repel Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, ratione impedit! Repellat praesentium laudantium modi quae magnam nostrum deserunt obcaecati quod itaque iusto impedit earum, totam possimus explicabo, enim ut.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ea! Dolorum rem voluptates nam itaque laborum optio labore tempora quaerat voluptate corrupti vero laudantium harum quia totam, sint officia et? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos tempore in amet, libero sint quisquam consequuntur. Consequuntur accusantium blanditiis dolor esse iste sequi maiores, perferendis veritatis? Cupiditate, alias modi.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ad ratione. Nesciunt placeat quo omnis nostrum, eaque voluptates, dolorum doloremque repudiandae sint minus laboriosam rerum nobis, ex adipisci. Vel, laboriosam!</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos aut, vitae, repel Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, ratione impedit! Repellat praesentium laudantium modi quae magnam nostrum deserunt obcaecati quod itaque iusto impedit earum, totam possimus explicabo, enim ut.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, ea! Dolorum rem voluptates nam itaque laborum optio labore tempora quaerat voluptate corrupti vero laudantium harum quia totam, sint officia et? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dignissimos tempore in amet, libero sint quisquam consequuntur. Consequuntur accusantium blanditiis dolor esse iste sequi maiores, perferendis veritatis? Cupiditate, alias modi.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, ad ratione. Nesciunt placeat quo omnis nostrum, eaque voluptates, dolorum doloremque repudiandae sint minus laboriosam rerum nobis, ex adipisci. Vel, laboriosam!</p>
			</div>
			<label><input type="checkbox" name="checkbox" value="true" class="checkbox">Jeg giver hermed mit samtykke i henhold til ovenstående</label>
			<div class="btn-group">
				<i class="icon-widget-arrow-up icon-btn left"></i>
				<a href="#" class="btn btn-clear">Afvis</a>
				<a href="#" class="btn btn-filled" disable=true>Accepter</a>
			</div>
		</div>
	</div>
</div>
