<div class="content">
	<div class="row">
		<div class="col-md-8 confirm-mail">
			<h2>Bekræft din email</h2>
			<ol>
				<li>
					<p>
						Gå til din email <b>mortenbondepedersen@gmail.com</b>. Åben bekræftelsesmailen fra MitPVS.
					</p>
					<small>Har du ikke modtaget en mail? <a href="#">send igen.</a></small>
				</li>
				<li>
					<form>
						<label for="smskode">Skriv 4cifret SMS-kode</label>
						<div class="form-group verifycode">
								<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
								<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
								<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
								<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
								
						</div>
						<!-- Button disabled until code are types-->
						<button type="submit" class="btn btn-filled btn-test" disabled=true>Bekræft din email</button>
					</form>
				</li>
			</ol>
		</div>
	</div>
</div>
