<div class="content">
	<div class="row">
		<div class="col-md-8 restoreprofile">
			<h2>Gendan din profil</h2>
			<p><b>Mit</b>PVS har gemt din profil, Gendan den her</p>
			

			<!--accordion-->
			<ul class="accordion">
				<!-- <li>
					<a class="toggle" href="javascript:void(0);"><div class="checkmark"></div>Gendan din profil via SMS</a>
					<div class="inner">
						<ol>
							<li>
								<form>
									<div class="form-group">
										<input type="number" maxLength="12" pattern="[0-9]{1}" class="form-control" required>
										<label for="exampleInputEmail1">Skriv dit telefonnummer</label>
									</div>
									<button type="submit" class="btn btn-filled">Send verifikationsbesked</button>
									<a href="#"><small>Gensend kode</small></a>
								</form>
							</li>
							<li>
								<form>
									<div class="form-group verifycode">
										<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
										<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
									</div>
									<label for="smskode">Skriv 4cifret SMS-kode</label>
									<button type="submit" class="btn btn-filled btn-succes">Bræft kode og gendan profil</button>
								</form>
							</li>
						</ol>
					</div>
				</li> -->
				<li>
					<a class="toggle" href="javascript:void(0);">
						<div class="checkmark"></div> Gendan din profil via email
					</a>
					<div class="inner">
						<ol>
							<li>
								<form onsubmit="return false">
									<div class="form-group">
										<input type="email" class="form-control" required>
										<label for="exampleInputEmail1">Skriv din email</label>
									</div>
									<button class="btn btn-filled js-btn-send">Send kode</button>
									<a href="#"><small>Gensend kode</small></a>
								</form>
							</li>
							<li>
								<form>
									<div class="form-group verifycode">
											<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											<input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
											
									</div>
									<label for="smskode">Skriv 4cifret SMS-kode</label>
									<!-- Button disabled until code are types-->
									<button class="btn btn-filled js-btn-send" disabled=true>Bekræft kode og gendan profil</button>
								</form>
							</li>
						</ol>
						
					</div>
				</li>
			</ul>

			<div class="btn-group">
				<i class="icon-widget-arrow-up icon-btn left"></i>
			</div>
		</div>
	</div>
</div>
