<div class="signup-done">
	<h2><span>Sådan.</span> Din profil er klar!</h2>
	<div class="icon">
		<?xml version="1.0" encoding="iso-8859-1"?>
			<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
			viewBox="0 0 52 52" style="enable-background:new 0 0 52 52;" xml:space="preserve">
				<g>
					<path fill="transparent" stroke="#fff" stroke-width="1" class="succes" d="M38.252,15.336l-15.369,17.29l-9.259-7.407c-0.43-0.345-1.061-0.274-1.405,0.156c-0.345,0.432-0.275,1.061,0.156,1.406
					l10,8C22.559,34.928,22.78,35,23,35c0.276,0,0.551-0.114,0.748-0.336l16-18c0.367-0.412,0.33-1.045-0.083-1.411
					C39.251,14.885,38.62,14.922,38.252,15.336z"/>
				</g>
			</svg>
	</div>
<!--=include loader.html -->
</div>