.input-search {
  display: flex;
  height: 54px;
  background-color: transparent;
  /* Reset `button` and button-style `input` default styles */
  button {
    background: none;
    border: 0;
    color: inherit;
    /* cursor: default; */
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button; /* for input */
    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
  }

  input.form-control {
    border: 0;
    border-radius: 0;
    padding-left: 10px;
    font-size: 0.9rem;

    &:focus {
      box-shadow: none;
      border-color: $grey;
      outline: none;
    }
  }

  .btn_search {
    height: 51px;
    color: $light-grey;
    font-size: 32px;
    background-color: $white;
    padding-right: 10px;
    transition: $transition;
    outline: none;
    margin-right: 0px;
  }

  .btn {
    margin-right: 0;

    i {
      font-size: 24px;
    }
  }
}

.search-filter {
	.filter {
		.custom-select {
			margin-right: 0;
			border-right: 1px solid $grey;
			width: 220px;
		}
	}
}

.search-filter, .pay-fields {
	display: flex;
	margin-bottom: 15px;

	@media (max-width: $small-screen) {
       flex-direction: column;
    }

	.filter {
		.select {
			border: .5px solid transparent;
			border-right-color: $grey;
			margin-right: 0;
			width: 200px;
		}
		
		@media (max-width: $small-screen) {
	       .custom-select {
	       	width: 100%;
	       }
	    }
		
	}
	.input-search {
		width: 65%;

		@media (max-width: $small-screen) {
	       width: 100%;
	       margin-bottom: 20px;
	    }
		input {
			font-size: 14px;
			border-left: 0;
		}
	}
}

.pay-fields {
	.input-search:first-child {
		width: 100%;
		margin-right: 15px;
        input {
            width: 100%;
        }
		@media (max-width: $small-screen) {
	       width: 100%;
	    }
	}

	.input-search {
		width: 40%;

		@media (max-width: $small-screen) {
	       width: 100%;
	    }
	}
}
