
.input_wrapper {
    width: 60px;
    height: 30px;
    position: relative;
    cursor: pointer;
    margin-bottom: 10px;
}
.input_wrapper input[type="checkbox"] {
    width: 100%;
    height: 100%;
    cursor: pointer;
    appearance: none;
    background: transparent;
    border-radius: 20px;
    position: relative;
    outline: 0;
    transition: $transition;
    border: 2px solid $dark-grey;
}
.input_wrapper input[type="checkbox"]:after {
    position: absolute;
    content: "";
    top: 2px;
    right: 3px;
    width: 23px;
    height: 23px;
    background: $dark-grey;
    z-index: 2;
    border-radius: 50px;
    transition: $transition;
}
.input_wrapper i, .input_wrapper span {
    position: absolute;
    transition: $transition;
    z-index: 1;
}
.input_wrapper .is_checked {
    color: $green;
    font-size: 32px;
    width: 18px;
    top: 10px;
    right: 15px;
    transform: translateX(-10%) translateY(-30%) scale(0);
}
.input_wrapper .is_unchecked {
    color: $dark-grey;
    width: 15px;
    left: 11px;
    top: 9px;
    font-weight: 600;
    transform: translateX(0) translateY(-30%) scale(1);
}
/* Checked State */

.input_wrapper input[type="checkbox"]:checked {
    border-color: $green;
}
.input_wrapper input[type="checkbox"]:checked:after {
    left: calc(100% - 54px);
    background: $green;
}
.input_wrapper input[type="checkbox"]:checked+.is_checked {
    transform: translateX(0) translateY(-30%) scale(1);
}
.input_wrapper input[type="checkbox"]:checked~.is_unchecked {
    transform: translateX(-190%) translateY(-30%) scale(0);
}