.pricelist>table{
	width:100%
}
	
.pricelist table, .pricelist td{
	border-collapse:collapse;
	border:1px solid #ddd;
}
.pricelist td{
	padding:4px 10px;
}
		
.pricelist .pricelistL1.pricelistNoPrice td{
	font-weight:bold;
}
		
.pricelist .pricelistL2 td:first-child{
	padding-left:25px;
}

.pricelist .pricelistL2 td:first-child{
	width:80%;
}

.pricelist .pricelistL3 td:first-child{
	padding-left:40px;
}

.pricelist .pricelistL4 td:first-child{
	padding-left:52px;
}

.pricelistL1.pricelistNoPrice td{background-color:#ddd;}
.pricelistL2.pricelistNoPrice td{background-color:#eee;}
				
tr.pricelistL2:hover{background-color:#f1f2f2}
tr.pricelistL3:hover{background-color:#f1f2f2}
tr.pricelistL4:hover{background-color:#f1f2f2}
