<!--=include base/head.html -->

	<body>
		<div class="mobile-only">
			<!--=include base/header.html -->
		</div>
		<div class="settings-wrapper">
			<!--=include components/settings-page/sidebar.html -->
			<!--=include components/settings-page/add-widget.html -->
			
		</div>
		<!--=include base/footer.html -->
	</body>
</html>