<!--=include base/head.html -->

	<body>
		<header class="header">
			<div class="header-wrapper">
				<i class="icon-mitpvs-logo"></i>
				<nav class="menu">
					<li>
						<i class="fi flaticon-share-2"></i>
						<p>Modal</p>
					</li>
				</nav>	
			</div>
		</header>
   
		
	<div class="content">
		<p>Settings</p>
		<ul class="widget-list modal-list" style="max-height: 100%">
	        <li data-toggle="modal" data-target="#m-dialog">Dialog</li>
			
	        <li data-toggle="modal" data-target="#m-guide">Tutorial 1</li>
	        <li data-toggle="modal" data-target="#m-guide-1">Tutorial 2</li>
	        <li data-toggle="modal" data-target="#m-guide-2">Tutorial 3</li>

	        <li data-toggle="modal" data-target="#m-add-shortcut">Add Shortcut</li>
	        <li data-toggle="modal" data-target="#m-edit-shortcut">Edit Shortcut</li>
	        <li data-toggle="modal" data-target="#m-shortcut">Shortcut</li>

	        <li data-toggle="modal" data-target="#m-article"">Article</li>
	        <li data-toggle="modal" data-target="#m-price-list">Price</li>

		</ul>

		<!--=include modal/modal-dialog.html -->

		<!--=include modal/modal-guide-1.html -->
		<!--=include modal/modal-guide-1-1.html -->
		<!--=include modal/modal-guide-1-2.html -->

		<!--=include modal/modal-article.html -->

		<!--=include modal/modal-price-list.html -->

		<!--=include modal/modal-add-shortcut.html -->
		<!--=include modal/modal-edit-shortcut.html -->
		<!--=include modal/modal-shortcut.html -->
	</div>
</div>

		<!--=include base/footer.html -->
	</body>
</html>