<!--=include base/head.html -->

<body>
	
	<div class="wrapper" style="background-image: url(assets/images/demo/1.jpg)">

		<div class="wrapper-content">
			<!--=include components/signup-login.html -->
		</div>
	</div>
	<!--=include base/footer-w-btn.html -->
	</body>
</html>