<!--=include base/head.html -->

	<body>
		<div class="mobile-only">
			<!--=include base/header.html -->
		</div>
		<div class="settings-wrapper">
			<!--=include components/settings-page/edit-profil-sidebar.html -->
			<!--=include components/settings-page/edit-profil.html -->
			
		</div>

		<!--=include base/footer.html -->

	</body>
</html>
