<!--=include base/head.html -->

<body>
	<!--=include base/header.html -->
	
	<div class="wrapper" style="background-image: url(assets/images/demo/1.jpg)">

		<div class="wrapper-content">
			<div class="btn" data-toggle="modal" data-target="#m-guide">Modal</div>

			<!--=include modal/modal-dialog.html -->

			<!--=include modal/modal-guide-1.html -->
			<!--=include modal/modal-guide-1-1.html -->
			<!--=include modal/modal-guide-1-2.html -->

			<!--=include modal/modal-article.html -->
			
			<!--=include modal/modal-price-list.html -->
			
			<!--=include modal/modal-add-shortcut.html -->
			<!--=include modal/modal-edit-shortcut.html -->
			<!--=include modal/modal-shortcut.html -->
			
		</div>
	</div>
	<!--=include base/footer.html -->
	</body>
</html>