
.checkbox {
    -webkit-appearance: none;
    background-color: $white;
    border: 1px solid $grey;
    padding: 13px !important;
    border-radius: 0;
    display: inline-block;
    position: relative;
    margin-right: 10px;

    &:focus {
        outline: none;
    }

    &:checked {
        background-color: #e9ecee;
        border: 1px solid #adb8c0;
        color: $grey;

        &:after {
            font-family: icomoon;
            font-weight: 600;
            content: '\e901';
            font-size: 18px;
            position: absolute;
            top: 0px;
            left: 5px;
            color: $black;
        }
    }
}

label {
    display: flex;
    align-items: center;
    color: $white;
    font-family: light;
    font-size: 14px;
    margin-bottom: 0;

    a {
        color: $white;
        text-decoration: underline;
        transition: $transition;
        margin-left: 5px;

        &:hover {
            color: $orange;
        }
    }
}

.checkbox-filter {
    display: flex;
    justify-content: space-between;

    .btn {
        margin-right: 0;
    }

    .checkbox-wrapper {
        display: flex;

        label {
            margin-right: 15px;
        }
    }
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .checkbox {
        width: 25px;
        height: 25px;
    }
}