.radio-filter {
    
    small {
        color: $dark-grey;
    }
    .radiobuttons {
    
        display: flex;
        max-width: 100%;
        
        @media (max-width: $small-screen) {
           margin-bottom: 15px;
        }
        p {
            margin-right: 25px;
            margin-bottom: 0;
        }

        [type="radio"]:checked, [type="radio"]:not(:checked) {
            position: absolute;
            left: -9999px;
        }
        [type="radio"]:checked+label, [type="radio"]:not(:checked)+label {
            position: relative;
            padding-left: 28px;
            cursor: pointer;
            line-height: 20px;
            display: inline-block;
            color: $white;
        }
        [type="radio"]:checked+label:before, [type="radio"]:not(:checked)+label:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            border: 1px solid #ddd;
            border-radius: 100%;
            background: #fff;
        }
        [type="radio"]:checked+label:after, [type="radio"]:not(:checked)+label:after {
            content: '';
            width: 8px;
            height: 8px;
            background: $black;
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 100%;
            -webkit-transition: all 0.2s ease;
            transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked)+label:after {
            opacity: 0;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        [type="radio"]:checked+label:after {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
        }
    } 
}

.widget {
    .radio-filter {
    
  
        .radiobuttons {
            p {
                margin-right: 0;

                label {
                    margin-left: 0;
                    margin-right: 20px;
                }
            }
        }
    }   
}
