.tags-wrapper {
	display: flex;
	margin: 15px 0;
	align-items: center;

	p {
		min-width: 40px;
		font-size: 10px;
		color: $white;
		margin-bottom: 0;
	}

	.tags {
		display: flex;
		list-style-type: none;
		padding-left: 10px;
		flex-wrap: wrap;
		margin-bottom: 0;
		
		li {
			position: relative;
			font-size: 10px;
			background-color: $dark-grey;
			padding: 7px 35px 7px 10px;
			color: $white;
			margin-right: 10px;
			cursor: pointer;

			&:after {
				position: absolute;
				right: 0;
				bottom: 0;
				font-family: icomoon;
				content: '\e904';
				margin-right: 5px;
				font-size: 20px;
				color: $grey;
			}

			@media (max-width: $small-screen) {
				margin-bottom: 15px;
			}
		}
	}
}