.verifycode {
    margin: 25px 0;

    @media (max-width: $xsmall-screen) {
        max-width: 140px;
    }

    input {
        margin-right: 5px;
        text-align: center;
        line-height: 65px;
        font-size: 50px;
        border: solid 1px #ccc;
        outline: none;
        width: 15%;
        transition: all .2s ease-in-out;
        border-radius: 3px;

        @media (max-width: $small-screen) {
            min-width: 70px;
            margin-bottom: 10px;
        }

        @media (max-width: $medium-screen) {
            font-size: 30px;
        }

        &:focus {
            border-color: $orange;
            box-shadow: 0 0 5px $orange inset;
        }

        &::selection {
            background: transparent;
        }
    }
}
