﻿@using MitPvs.Feature.Controllers
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using (Html.BeginUmbracoForm<CreateProfileController>("CustomCategoryStep"))
{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper();
    var dataType = ApplicationContext.Services.DataTypeService.GetDataTypeDefinitionByName("PVS Member - Category - Radio button list");
    var preValues = ApplicationContext.Services.DataTypeService.GetPreValuesCollectionByDataTypeId(dataType.Id);
    <ul class="radio-list">
        <li>
            <label class="container">
                @umbracoHelper.GetDictionaryValue("CustomCategoryStep.PrivateCompanyText")
                @*@preValues.PreValuesAsDictionary["0"].Value*@
                <input type="radio" name="Category" value="@preValues.PreValuesAsDictionary["0"].Id">
                <span class="checkmark"></span>
            </label>
        </li>
        <li>
            <label class="container">
                @umbracoHelper.GetDictionaryValue("CustomCategoryStep.ConsultingCompanyText")
                @*@preValues.PreValuesAsDictionary["1"].Value*@
                <input type="radio" name="Category" value="@preValues.PreValuesAsDictionary["1"].Id">
                <span class="checkmark"></span>
            </label>
        </li>
        <li>
            <label class="container">
                @umbracoHelper.GetDictionaryValue("CustomCategoryStep.AttroneyCompanyText")
                @*@preValues.PreValuesAsDictionary["2"].Value*@
                <input type="radio" name="Category" value="@preValues.PreValuesAsDictionary["2"].Id">
                <span class="checkmark"></span>
            </label>
        </li>
        <li>
            <label class="container">
                @umbracoHelper.GetDictionaryValue("CustomCategoryStep.OtherCompanyText")
                <input type="radio" name="Category" value="@preValues.PreValuesAsDictionary["3"].Id">
                <span class="checkmark"></span>
            </label>
        </li>
    </ul>

    <div class="btn-group">
        <i id="prev-button" class="icon-widget-arrow-up icon-btn left"></i>
        <input type="submit"
               class="btn btn-filled"
               value=" @Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.ButtonText)"
               name="__next" 
               disabled />

    </div>
}
