﻿@using MitPvs.Feature.Controllers
@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{
    var iconOne = Model.GetPropertyValue<IPublishedContent>("iconOne");
    var iconTwo = Model.GetPropertyValue<IPublishedContent>("iconTwo");
    var iconThree = Model.GetPropertyValue<IPublishedContent>("iconThree");
}
@using (Html.BeginUmbracoForm<CreateProfileController>("CustomRightAreaStep", null, new { id = "category-form" }))
{

    var umbracoHelper = new Umbraco.Web.UmbracoHelper();
    var dataType = ApplicationContext.Services.DataTypeService.GetDataTypeDefinitionByName("PVS Member - RightArea - Checkbox list");
    var preValues = ApplicationContext.Services.DataTypeService.GetPreValuesCollectionByDataTypeId(dataType.Id);
    <input type="hidden" name="parentid" value="@Model.Ancestor(1).Id" />
    <input type="hidden" name="RightArea" checked value="@preValues.PreValuesAsDictionary["0"].Id" />
    <div class="cards">
        <div class="card-wrapper">
            <input class="c-card" type="checkbox" id="1" name="RightArea" value="@preValues.PreValuesAsDictionary["1"].Id">
            <div class="card-content">
                <label for="1" style="background-image: url(@iconOne.Url)">
                    <p>@umbracoHelper.GetDictionaryValue("CustomRightAreaStepForm.PatentText")</p>
                    @*<p>@preValues.PreValuesAsDictionary["1"].Value</p>*@
                </label>
            </div>
        </div>

        <div class="card-wrapper">
            <input class="c-card" type="checkbox" id="2" name="RightArea" value="@preValues.PreValuesAsDictionary["2"].Id">
            <div class="card-content">
                <label for="2" style="background-image: url(@iconTwo.Url)">
                    <p>@umbracoHelper.GetDictionaryValue("CustomRightAreaStepForm.VareText")</p>
                    @*<p>@preValues.PreValuesAsDictionary["2"].Value</p>*@
                </label>
            </div>
        </div>

        <div class="card-wrapper">
            <input class="c-card" type="checkbox" id="3" name="RightArea" value="@preValues.PreValuesAsDictionary["3"].Id">
            <div class="card-content">
                <label for="3" style="background-image: url(@iconThree.Url)">
                    <p>@umbracoHelper.GetDictionaryValue("CustomRightAreaStepForm.DesignText")</p>
                    @*<p>@preValues.PreValuesAsDictionary["3"].Value</p>*@
                </label>
            </div>
        </div>

    </div>

    <div class="btn-group">
        <i id="prev-button" class="icon-widget-arrow-up icon-btn left"></i>
        <input type="submit"
               class="btn btn-filled"
               value="@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.ButtonText)"
               name="__next"
               disabled />

    </div>
}
