﻿@using MitPvs.Feature.Controllers
@inherits Umbraco.Web.Mvc.UmbracoViewPage<MitPvs.Feature.Models.ProfileDetailsFormModel>

@using (Html.BeginUmbracoForm<CreateProfileController>("ProfileDetailsStep", null, new { id = "profile-details-form" }))
{
    var umbracoHelper = new Umbraco.Web.UmbracoHelper();
    <div class="form-group">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "true", onchange = "profileDetailsForm()" })
        <label for="FirstName">@umbracoHelper.GetDictionaryValue("OpretProfilForm.FirstNameLabel")</label>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", required = "true", onchange = "profileDetailsForm()" })
        <label for="LastName">@umbracoHelper.GetDictionaryValue("OpretProfilForm.LastNameLabel")</label>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "true", @type = "email", onchange = "profileDetailsForm()" })
        <label for="Email">@umbracoHelper.GetDictionaryValue("OpretProfilForm.EmailLabel")</label>
        <div class="invalid-feedback">
            @umbracoHelper.GetDictionaryValue("OpretProfilForm.EmailExists")
        </div>
    </div>
    <div class="form-group">
        @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", required = "true", @type = "email", onchange = "profileDetailsForm()" })
        <label for="ConfirmEmail">@umbracoHelper.GetDictionaryValue("OpretProfilForm.ConfirmEmailLabel")</label>
        <div class="invalid-feedback">
            @umbracoHelper.GetDictionaryValue("OpretProfilForm.EmailNotIdentical")
        </div>
    </div>
    @*<div class="form-group">
        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", required = "true" })
        <label for="Phone">@umbracoHelper.GetDictionaryValue("OpretProfilForm.TelephoneLabel")</label>
    </div>*@

    <div class="btn-group">
        <i id="prev-button" class="icon-widget-arrow-up icon-btn left"></i>
        <input type="submit"
               class="btn btn-filled"
               value="@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.ButtonText)"
               name="__next"
               disabled/>
    </div>
}
