<div class="settings-content">
	<div class="top">
		<h1>Tilføj elementer</h1>
		<div class="btn-group">
			<div class="btn">Afslut</div>
			<div class="btn btn-filled"">Gem</div>
		</div>
	</div>
	<div class="content">
		<!--=include widget-card-1.html -->
		<!--=include widget-card-2.html -->
		<!--=include widget-card-3.html -->
		<!--=include widget-card-4.html -->
		<!--=include widget-card-1.html -->
		<!--=include widget-card-2.html -->
	</div>
</div>