<div class="sidebar">
	<div class="top">
		<i class="icon-mitpvs-logo"></i>
	</div>
	<div class="menu">
		<nav class="settings-menu">
			<li class="current">Profil</li>
			<li>Hjælp</li>
		</nav>
	</div>
	<div class="mobile-btn">
		<i class="icon-menu"></i>
	</div>
</div>
