<div class="settings-content">
	<div class="top">
		<h1>Rediger Profil</h1>
		<div class="btn-group">
			<div class="btn">Afslut</div>
			<div class="btn btn-filled"">Gem</div>
		</div>
	</div>
	<div class="content">
		<div class="profil">
			<h3>Profil information</h3>

			<form>
				<div class="form-group">
					<input type="text" class="form-control" value="Jens" required>
					<label for="exampleInputEmail1">Fornavn</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="Nielsen" required>
					<label for="exampleInputEmail1">Efternavn</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="Rådgiver" required>
					<label for="exampleInputEmail1">Title</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="Bech-Bruun" required>
					<label for="exampleInputEmail1">Virksomhed</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" value="jeno@bech-dk" required>
					<label for="exampleInputEmail1">E-mail</label>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" value="jens@gmail.com" required>
					<label for="exampleInputEmail1">Alternativ e-mail</label>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" value="+45 31444251" required>
					<label for="exampleInputEmail1">Telefon nummer</label>
				</div>
			</form>
		</div>
	</div>
</div>