<div class="settings-card">
	<div class="card-top">
		<i class="fi flaticon-worldwide-1"></i>
		<p>Widget Navn</p>
	</div>
	<div class="card-content">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit quia aspernatur optio recusandae, atque, reiciendis tempore doloremque temporibus aliquid nemo vitae sint? Aliquid ab, eaque blanditiis hic sint odit! Voluptas.</p>
	</div>
	<div class="card-bottom">
		<div class="btn btn-white">
			Fjern
		</div>
	</div>
</div>