@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cfe7we');
  src:  url('fonts/icomoon.eot?cfe7we#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cfe7we') format('truetype'),
    url('fonts/icomoon.woff?cfe7we') format('woff'),
    url('fonts/icomoon.svg?cfe7we#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mitpvs-logo:before {
  content: "\e900";
}
.icon-wizard-check:before {
  content: "\e901";
}
.icon-widget-move:before {
  content: "\e902";
}
.icon-widget-more:before {
  content: "\e903";
}
.icon-widget-close:before {
  content: "\e904";
}
.icon-widget-arrow-up:before {
  content: "\e905";
}
.icon-widget-arrow-down:before {
  content: "\e906";
}
.icon-add:before {
  content: "\e907";
}
.icon-help:before {
  content: "\e908";
}
.icon-user:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-plus:before {
  content: "\e90b";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-expand-arrrow-up:before {
  content: "\e90d";
}
.icon-expand-arrrow-down:before {
  content: "\e90e";
}
.icon-close:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-arrow-link:before {
  content: "\e911";
}
.icon-arrow-up:before {
  content: "\e912";
}
.icon-arrow-down:before {
  content: "\e913";
}
.icon-info:before {
  content: "\e915";
}
.icon-alert:before {
  content: "\e914";
}
