<header class="header">
	<div class="header-wrapper">
		<i class="icon-mitpvs-logo"></i>
		<ul class="menu">
			<li>
				<i class="icon-add"></i>
				<p>Tilføj element</p>
				<i class="dropdown-arrow icon-arrow-down"></i>
				<ul class="submenu">
					<li class="current">All widgets</li>
					<li>Generelle</li>
					<li>Patent/Brugsmodel</li>
					<li>Varemærke</li>
					<li>Design</li>
				</ul>
			</li>
			<li>
				<i class="icon-user"></i>
				<p>Thomas H.</p>
				<i class="dropdown-arrow icon-arrow-down"></i>
				<ul class="submenu">
					<li>All widgets</li>
					<li>Generelle</li>
				</ul>
			</li>
			<li>
				<i class="icon-help grey"></i>
				<p>Hjælp</p>
			</li>
		</ul>	
	</div>
	<i class="mobile-btn icon-menu"></i>
</header>
   