﻿@import "utils/variables.scss";

#mobile-frame, #ipad-frame {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;

    .mobiletext {
        background-color: rgba($white, .7);
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        height: auto;
        padding: 20px;

        img {
            width: auto;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            margin-bottom: 20px;
            display: block;
        }
    }
}

