.profil {
	background-color: $white;
	width: 80%;
	padding: 20px 35px;
	border-bottom: 5px solid $dark-grey;
	
	h3 {
		font-size: 16px;
		line-height: 22px;
		margin-left: 5px;
	}

	@media (max-width: $small-screen) {
		width: 100%;
		padding: 10px;

	}
	.form-group {
		margin-top: 2.5rem;
		margin-bottom: 3rem;
		
		.form-control:valid + label {
			color: $black;
		}
		.form-control:valid {
			border-bottom: 1px solid $black;
		}
	}
	input.form-control:focus {
	    border-color: $orange!important;
	}
}