.settings-wrapper {
	display: flex;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: $dark-white;

	@media (max-width: $small-screen) {
		flex-direction: column;
	}
	
	.settings-content {
		width: 100%;
	    height: calc(100% - 70px);

		@media (max-width: $small-screen) {
			overflow-y: scroll;

		}
		
		.top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 40px 20px 40px 60px;
			width: 100%;
			height: 70px;
			background-color: $white;

			h1 {
				font-size: 20px;
				line-height: 27px;
				margin-bottom: 0;
			}

			.btn {
				color: $dark-grey;
				border: 1px solid $grey;
				 
				&:hover {
					background-color: $white;
				}
			}

			.btn-filled {
				color: $white;

				&:hover {
					background-color: darken($orange, 5%);
				}
			}

			.btn-group {
				margin-bottom: 0;
				justify-content: flex-end;
			}

			@media (max-width: $small-screen) {
				padding: 5px;

				.btn-group {
					flex-direction: row;

					.btn {
					    padding: 15px 25px;
					}
				}
			}
		}

		.content {
			display: inline-block;
			width: 100%;
			height: 100%;
			background-color: $grey;
			overflow-y: scroll;
		    padding: 25px 60px 20px 30px;

		    @media (max-width: $small-screen) {
				padding: 10px;
			}
		}
	}
}

@import "sidebar.scss";
@import "widget-card.scss";
@import "edit-profil.scss";

