.sidebar {
	width: 300px;
	height: 100%;
	color: $white;
	background-color: $black;
	position: relative;
	
	@media (max-width: $small-screen) {
		display: none;
	}

	.top {
		height: 70px;
		margin-bottom: 45px;
		padding: 35px 25%;
		position: relative;

		@media (max-width: $small-screen) {
			padding: 15px;
		}
		.icon-mitpvs-logo {
			font-size: 32px;
			text-align: center;
		}


	}
	
	.menu {
		.settings-menu {
			width: 100%;
			list-style: none;
			padding: 0;

			li {
				width: 100%;
				font-size: 14px;
				line-height: 30px;
				border-left: 5px solid transparent;
				transition: $transition;
				cursor: pointer;
				padding: 0px 22%;
				
				&:hover {
					text-decoration: underline;
				}
			}

			li.current {
				color: $orange;
				font-family: bold;
				border-color: $orange;
			}
		}

		@media (max-width: $small-screen) {
			width: 100%;			
		}
	}
	
}
