.settings-card {
	display: inline-block;
	width: 40%;
	margin: 20px;
	background-color: $white;
	
	@media (max-width: $medium-screen) {
		width: 90%;
	}

	.card-top {
		display: flex;
		position: relative;
		align-items: center;
		border-bottom: 1px solid $dark-white;
		padding: 10px 25px;

		p {
			font-size: 16px;
			margin-bottom: 0;
		}

		i {
			font-size: 30px;
			margin-right: 15px;
		}

		.highlight {
			position: absolute;
			right: 20px;
			background-color: $green;
			border-radius: 15px;
			padding: 4px 17px;
			font-size: 11px;
			color: $white;
		}
	}

	.card-content {
		background-color: $white;
		padding: 20px 25px;

		p {
			margin-bottom: 0;
		}

	}

	.card-bottom {
		display: flex;
		padding: 20px 25px;
		border-bottom: 5px solid $dark-grey;

		
	}
}