﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
}

@if (!UmbracoContext.Current.InPreviewMode)
{
    @Html.Partial(MitPvs.Feature.Constants.ViewPath.CanAccess)
}
<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="content">
            <div class="row">
                <div class="col-md-9 conditions">
                    <h2>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.TitleField).ToString()))</h2>
                    <div class="conditions-textbox">

                        @Umbraco.Field(MitPvs.Website.Constants.PageBody.FieldNames.BodyField)
                    </div>

                    @Html.Partial(MitPvs.Feature.Constants.ViewPath.AcceptTermsStepForm, new MitPvs.Feature.Models.AcceptTermsFormModel())


                    <small>@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.HintText)</small>

                </div>
            </div>
        </div>
    </div>
</div>
@section HeaderSection {
    @Html.Partial(MitPvs.Feature.Constants.ViewPath.Header)
}