﻿@using MitPvs.Feature.Managers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
}
@if (!UmbracoContext.Current.InPreviewMode)
{
    @Html.Partial(MitPvs.Feature.Constants.ViewPath.CanAccess)
}
<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="content">
            <div class="row">
                <div class="col-md-8 confirm-mail">
                    <h2>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.TitleField).ToString()))</h2>

                    @Html.Partial(MitPvs.Feature.Constants.ViewPath.ConfirmEmailStepForm, new MitPvs.Feature.Models.ConfirmEmailFormModel { Email = new UserProfileStateManager().Email })

                    <small>@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.HintText)</small>

                </div>
            </div>
        </div>
    </div>
</div>
@section HeaderSection {
    @Html.Partial(MitPvs.Feature.Constants.ViewPath.Header)
}