﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using MitPvs.Feature.Controllers;
@{ 
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
    var customizeProfilePageUrl = "#";
    var customizeSkipProfilePageUrl = "#";

    if (!UmbracoContext.Current.InPreviewMode)
    {
        @Html.Partial(MitPvs.Feature.Constants.ViewPath.Protected)
    }

    if (Model.Content.HasValue(MitPvs.Feature.Constants.PageContent.FieldNames.CustomizeProfileButtonLinkField))
    {
        var customizeProfileNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<int>(MitPvs.Feature.Constants.PageContent.FieldNames.CustomizeProfileButtonLinkField));
        customizeProfilePageUrl = customizeProfileNode.Url.Trim("/") + "?accessToken=" + Request.QueryString["accessToken"];

        var customizeSkipProfileNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<int>(MitPvs.Feature.Constants.PageContent.FieldNames.CustomizeSkipProfileButtonLinkField));
        customizeSkipProfilePageUrl = customizeSkipProfileNode.Url.Trim("/") + "?accessToken=" + Request.QueryString["accessToken"];
    }

}

<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="intro adjust">
            <h2>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.TitleField).ToString()))</h2>
            <p>@Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.AbstractField)</p>
            @Html.Raw(Umbraco.Field(MitPvs.Website.Constants.PageBody.FieldNames.BodyField))
            <div class="btn-group stacked form-btn">
                <a href="@customizeProfilePageUrl" class="btn btn-filled">@Umbraco.Field(MitPvs.Feature.Constants.PageContent.FieldNames.CustomizeProfileButtonLabelField)</a>
                @using (Html.BeginUmbracoForm<CreateProfileController>("SkipCustomizeProfileStep"))
                {
                    <input type="hidden" name="parentid" value="@Model.Content.Ancestor(1).Id" />
                    <button type="submit"><small>@Umbraco.Field(MitPvs.Feature.Constants.PageContent.FieldNames.CustomizeSkipProfileButtonLabelField)</small></button>
                }
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    @Html.Partial("~/views/partials/Footer.cshtml")
}
