﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
}
@if (!UmbracoContext.Current.InPreviewMode)
{
    @Html.Partial("~/views/partials/Protected.cshtml")
}
<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="content">
            <div class="row">
                <div class="col-md-8 categoryprofil">
                    <h2>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.TitleField).ToString()))</h2>
                    @Html.Raw(Umbraco.Field(MitPvs.Website.Constants.PageBody.FieldNames.BodyField))

                    @Html.Partial(MitPvs.Feature.Constants.ViewPath.CustomCategoryStepForm)

                    <small>@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.HintText)</small>
                </div>
            </div>
        </div>

    </div>
</div>

@section HeaderSection {
    @Html.Partial("~/views/partials/Header.cshtml")
}