﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
    var createProfilePageUrl = "#";
    var restoreProfilePageUrl = "#";
    if (Model.Content.HasValue(MitPvs.Feature.Constants.PageContent.FieldNames.CreateProfileButtonLinkField))
    {
        var createProfileNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<int>(MitPvs.Feature.Constants.PageContent.FieldNames.CreateProfileButtonLinkField));
        createProfilePageUrl = createProfileNode.Url;
    }
    if (Model.Content.HasValue(MitPvs.Feature.Constants.PageContent.FieldNames.CreateProfileButtonLinkField))
    {
        var restoreProfileNode = Umbraco.TypedContent(Model.Content.GetPropertyValue<int>(MitPvs.Feature.Constants.PageContent.FieldNames.RestoreProfileButtonLinkField));
        restoreProfilePageUrl = restoreProfileNode.Url;
    }

    if(Request.Cookies["userToken"]!=null)
    {
        var widgets = Model.Content.FirstChild(x => x.DocumentTypeAlias == "widgetsPage");
        var value = Request.Cookies["userToken"].Value;
        Response.Redirect(widgets.Url + "#/"+ value, false);
    }
}
<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="intro signup-login">


            <h1>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.TitleField).ToString()))</h1>

            <p>@Umbraco.Field(MitPvs.Website.Constants.PageBody.FieldNames.BodyField)</p>
            <div class="btn-group">
                <a href="@createProfilePageUrl" class="btn btn-filled">@Umbraco.Field(MitPvs.Feature.Constants.PageContent.FieldNames.CreateProfileButtonLabelField)</a>
                <a href="@restoreProfilePageUrl" class="btn">@Umbraco.Field(MitPvs.Feature.Constants.PageContent.FieldNames.RestoreProfileButtonLabelField)</a>
            </div>
        </div>
    </div>
</div>

@section FooterSection {
    @Html.Partial("~/views/partials/Footer.cshtml")
}
