﻿@inherits UmbracoTemplatePage
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    @Html.Partial("~/views/partials/Head.cshtml")
</head>


<body id="pageId" data-currentpageid="@Model.Content.AncestorOrSelf(1).Id">
    @RenderSection("HeaderSection", required: false)
    @RenderBody()

    @RenderSection("FooterSection", required: false)
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/js/app.js"></script>
</body>
</html>
