﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
}

<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="content">
            <div class="row">
                <div class="col-md-12 signup">
                    <h2>@Html.Raw(umbraco.library.RemoveFirstParagraphTag(Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.TitleField).ToString()))</h2>
                    <p>@Umbraco.Field(MitPvs.Website.Constants.PageBody.FieldNames.BodyField)</p>

                    @Html.Partial(MitPvs.Feature.Constants.ViewPath.ProfileDetailsStepForm, new MitPvs.Feature.Models.ProfileDetailsFormModel())


                    <small>@Umbraco.Field(MitPvs.Feature.Constants.FormContent.FieldNames.HintText)</small>

                </div>
            </div>
        </div>
    </div>
</div>
@section HeaderSection {
    @Html.Partial(MitPvs.Feature.Constants.ViewPath.Header)
}