﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
}
@Html.Partial("~/views/partials/Protected.cshtml")

<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="content">
            <div class="row">
                <div class="col-md-12 signup">
                    @Umbraco.Field(MitPvs.Feature.Constants.PageContent.FieldNames.BodyField)
                </div>
            </div>
        </div>
    </div>
</div>
@section HeaderSection {
    @Html.Partial("~/views/partials/Header.cshtml")
}