﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using MitPvs.Website;
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
}

<div class="wrapper" style="background-image: url(@backgroundImageUrl)">

    <div class="wrapper-content restoreprofile-wrapper">
        <div class="content">
            <div class="row">
                <div class="col-sm-12 col-md-8 restoreprofile">
                    <h2>@Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.TitleField) </h2>
                    <p>@Umbraco.Field(MitPvs.Website.Constants.PageBody.FieldNames.BodyField)</p>


                    <!--accordion-->
                    <ul class="accordion">
                        <li>
                            @Html.Partial(MitPvs.Feature.Constants.ViewPath.RestoreProfileByEmailForm, new MitPvs.Feature.Models.RestoreProfileFormModel())
                        </li>
                    </ul>

                    <div class="btn-group">
                        <i id="prev-button" class="icon-widget-arrow-up icon-btn left"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section HeaderSection {
    @Html.Partial("~/views/partials/Header.cshtml")
}