﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();

    var token = Request.QueryString["accessToken"];
    var nextStepUrl = string.Format("{0}/#/?accessToken={1}", Umbraco.NiceUrlWithDomain(CurrentPage.nextStep.Id).TrimEnd('/'), token);
}
@Html.Partial("~/views/partials/Protected.cshtml")

<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="signup-done">
            <h2>Et øjeblik. <span>Mit</span>PVS er næsten klar!</h2>
            <div class="loader">
                <small>Et øjeblik</small>
                <div class="loading-dots">
                    <div class="loading-dots--dot"></div>
                    <div class="loading-dots--dot"></div>
                    <div class="loading-dots--dot"></div>
                </div> 
            </div>
        </div>
    </div>
</div>
@section HeaderSection {
    @Html.Partial("~/views/partials/Header.cshtml")
}
<script>
    $(function () {
        setTimeout(function () {
            window.location = "@nextStepUrl";
        }, 7000);
    });


</script>