﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var backgroundImageUrl = MediaRepository.GetBackgroundImageUrl();
    var umbracoHelper = new Umbraco.Web.UmbracoHelper();

    var redirectUrl = "/CreateProfile";
}
@Html.Partial("~/views/partials/Protected.cshtml")

<script type="text/javascript">

    function Redirect()
    {
        window.location="@redirectUrl";
    }
    setTimeout("Redirect()", 7000);
</script>

<div class="wrapper" style="background-image: url(@backgroundImageUrl)">
    <div class="wrapper-content">
        <div class="signup-done">
            <h2>@Umbraco.Field(MitPvs.Website.Constants.PageBase.FieldNames.AbstractField)</h2>
            <div class="loader">
                <small>@umbracoHelper.GetDictionaryValue("Loading text")</small>
                <div class="loading-dots">
                    <div class="loading-dots--dot"></div>
                    <div class="loading-dots--dot"></div>
                    <div class="loading-dots--dot"></div>
                </div>
            </div>
        </div>
    </div>
</div>
@section HeaderSection {
    @Html.Partial("~/views/partials/Header.cshtml")
}

