﻿@inherits UmbracoTemplatePage
@{
    Layout = null;
    var image = Model.Content.GetPropertyValue<IPublishedContent>("backgroundImage");
}

<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Global Metas -->
    <meta charset="utf-8">
    <title>@Model.Content.Name</title>
    <!-- Automatically provides/replaces `Promise` if missing or broken. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>

    <!-- Minified version of `es6-promise-auto` below. -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js"></script>

    <link rel="stylesheet" href="/assets/css/mobile.css">
</head>
@*Pageid for the api / controller know where to fetch data in umbraco*@
<body id="pageId" data-currentpageid="@Model.Content.Ancestor(1).Id" data-lang="@System.Threading.Thread.CurrentThread.CurrentCulture.Name" style="background: url('@((image != null) ? image.Url : "")'); background-size: cover; background-repeat: no-repeat; background-position: center top;">
    <div id="mobile-frame">
        <div class="mobiletext">
            @Html.Raw(Model.Content.GetPropertyValue("mobiletext"))
        </div>
    </div>
    <div id="ipad-frame">
        <div class="mobiletext">
            @Html.Raw(Model.Content.GetPropertyValue("ipadtext"))
        </div>
    </div>
    <div id="app"></div>
    <script src="~/dist/app.js"></script>
</body>
</html>

