﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

<footer class="footer">
    <a href="#" data-toggle="modal" data-target="#m-info">@Umbraco.Field(MitPvs.Feature.Constants.Footer.FieldNames.FooterLinkLabel)</a>
</footer>
<!-- Modal -->
<div class="modal fade" id="m-info" tabindex="-1" role="info" aria-labelledby="m-info" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">@Umbraco.Field(MitPvs.Feature.Constants.Footer.FieldNames.FooterInformationTitle)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    @Umbraco.Field(MitPvs.Feature.Constants.Footer.FieldNames.FooterInformationContent)
                </p>
            </div>
        </div>
    </div>
</div>
