﻿@*@model IEnumerable<Metadata>*@
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!-- Global Metas -->
<meta charset="utf-8">
<meta name="description" content="@Umbraco.Field(MitPvs.Feature.Constants.Header.FieldNames.MetadataDescription)">
<meta name="author" content="">
<meta name="keywords" content="@Umbraco.Field(MitPvs.Feature.Constants.Header.FieldNames.MetadataKeywords)>


<meta property="og:title" content="@Umbraco.Field(MitPvs.Feature.Constants.Header.FieldNames.OpenGraphTitle)">
<meta property="og:site_name" content="@Umbraco.Field(MitPvs.Feature.Constants.Header.FieldNames.OpenGraphSiteName)">
<meta property="og:url" content="@CurrentPage.UrlWithDomain()">
<meta property="og:description" content="@Umbraco.Field(MitPvs.Feature.Constants.Header.FieldNames.OpenGraphTitle)">
<meta property="og:type" content="@Umbraco.Field(MitPvs.Feature.Constants.Header.FieldNames.OpenGraphType)">

<title>@Model.Content.Name</title>

<!-- Mobile Specific Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!--[if lt IE 9]> HTML5Shiv
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- CSS's -->
@if (CurrentPage.DocumentTypeAlias != "widgetsPage")
{
    <link rel="stylesheet" href="/assets/css/app.css">
}
<!-- Favicons -->
<link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">

<link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icon57.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icon72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icon76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icon114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icon120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icon144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icon152.png">
<link rel="apple-touch-icon" sizes="160x160" href="/assets/images/icon160.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icon180.png">
