<!-- Widget Five -->
<div class="widget news-feed">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-megaphone-1"></i>
			<p>Nyhed og kurser fra PVS 5.2</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li>Vis alle</li></a>
			<a href="#"><li>Nyheder</li></a>
			<a href="#"><li class="active">Kurser</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="courses-empty">
			<i class="fi flaticon-calendar-5"></i>
			<h3>Ingen aktuelle kurser</h3>
			<p>Vi tilbyder desværre ingen kurser i øjeblikket.</p>

			<p>Hold dig orienteret om nye kursustilbud her, eller få direkte beskd via PVS kursusmail</p>
		</div>		
	</div>
	<div class="widget-footer">
		<a href="#">
			<div class="btn btn-light">
				<i class="icon-arrow-link"></i>
				Tilmeld dig PVS kursusmail
			</div>
		</a>
	</div>
</div>