<!-- Widget One -->
<div class="widget widget-find">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-file-2"></i>
			<p>Find rettighedssager</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>
		</div>
		<div class="options">
			<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
			<div class="options-wrapper">
				<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
				<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
			</div>

			<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
		</div>
	</div>
	<div class="widget-menu">
		<ul>
			<li class="active"><a href="#">Søg i PVSonline</a></li>
			<li><a href="#">Søg i andre databaser</a></li>
		</ul>
	</div>
	<div class="widget-content">
		<div class="filter-wrapper">
			<div class="filter">
				<!-- filter 1-->
				<div class="custom-select">
					<select>
						<option value="0">Vælge rettighedstype</option>
						<option value="1">Lorem 1 </option>
						<option value="2">Lorem 2</option>
						<option value="3">Lorem 3</option>
						<option value="3">Lorem 4</option>
					</select>
				</div>
				<!-- filter 2-->
				<span class="checkbox-dropdown-arrow">
	                <dl class="checkbox-dropdown">

	                    <dt>
	                        <a>
	                            <span class="hida">Vælge søgeparametre: </span>
	                        </a>
	                    </dt>
                    	<label class="drop-desc">vælge max 2 søgeparameter</label>
						
	                    <dd>
	                        <div class="mutliSelect">
	                            <ul>
	                                <li>
	                                    <label style="color: #000"><input type="checkbox" name="checkbox" value="0" class="checkbox">Ansøger/Indehaver</label>
	                                </li>
	                                <li>
	                                    <label style="color: #000"><input type="checkbox" name="checkbox" value="1" class="checkbox">Ansøgningsdato</label>
	                                </li>
	                                <li>
	                                    <label style="color: #000"><input type="checkbox" name="checkbox" value="2" class="checkbox">Title</label>
	                                </li>
	                                <li>
	                                    <label style="color: #000"><input type="checkbox" name="checkbox" value="3" class="checkbox">Ansøgningsnummer</label>
	                                </li>
	                                <li>
	                                    <label style="color: #000"><input type="checkbox" name="checkbox" value="4" class="checkbox">Patent/Reg.nr.</label>
	                                </li>
	                                <li>
	                                	<div class="btn btn-filled dropdown-close">Vælge</div>
	                                </li>
	                            </ul>

	                        </div>
	                    </dd>
	                </dl>
	            </span>
			</div>
			<div class="tags-wrapper">
				<p>Dit valg:</p>
				<ul class="tags">
					<a href="#"><li>Ansøger, Lego A/S</li></a>
					<a href="#"><li>Fuldmægtig: COPA Copenhagen Patent</li></a>
				</ul>
			</div>
		</div>
		<div class="search-wrapper">
			<div class="input-search" disabled>
				<label>Patent/reg nr.</label>
				<input type="text" class="form-control" placeholder="Søg" aria-label="Søg">
				<button class="btn_search" type="button"><i class="icon-search"></i></button>
			</div>
			
			<div class="input-search" disabled>
				<label>Ansøger/indehaver</label>
				<input type="text" class="form-control" placeholder="Søg" aria-label="Søg">
				<button class="btn_search" type="button"><i class="icon-search"></i></button>
			</div>

			<div class="checkbox-filter">
				<div class="checkbox-wrapper">
					<label><input type="checkbox" name="checkbox" value="2" class="checkbox">DK</label>
					<label><input type="checkbox" name="checkbox" value="2" class="checkbox">DK/EP</label>
					<label><input type="checkbox" name="checkbox" value="2" class="checkbox">Certifikat</label>
				</div>
				<div class="btn btn-filled">Søg</div>
	      	</div>
		</div>
	</div>
	<div class="widget-footer">
		<ul>
			<li>
				<a href="#">
					<i class="icon-expand-arrrow-down"></i>
					<p>se søgningenshistorik</p>
				</a>
			</li>
		
			<li>
				<a href="#">
					<div class="btn btn-light">
						<i class="icon-arrow-link"></i>
						Se flere
					</div>
				</a>
			</li>
		</ul>
	</div>
</div>