<!-- Widget One -->
<div class="widget widget-find">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-file-2"></i>
			<p>Find rettighedssager</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>
		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<li><a href="#">Søg i PVSonline</a></li>
			<li class="active"><a href="#">Søg i andre databaser</a></li>
		</ul>
	</div>
	<div class="widget-content">
		<div class="filter-wrapper">
			<div class="filter">
				<!-- filter 1-->
				<div class="custom-select">
					<select>
						<option value="0">Vælge rettighedstype</option>
						<option value="1">Lorem 1 </option>
						<option value="2">Lorem 2</option>
						<option value="3">Lorem 3</option>
						<option value="3">Lorem 4</option>
					</select>
				</div>
				<!-- filter 2-->
				<div class="custom-select">
					<select>
						<option value="0">Vælge rettighedstype</option>
						<option value="1">Lorem 1 </option>
						<option value="2">Lorem 2</option>
						<option value="3">Lorem 3</option>
						<option value="3">Lorem 4</option>
					</select>
				</div>

	            <div class="btn btn-filled">Gå til Espacenet</div>
			</div>
		</div>
	</div>
	<div class="widget-footer">
		<ul>
			<li>
				<a href="#">
					<i class="icon-expand-arrrow-down"></i>
					<p>se dine seneste valg</p>
				</a>
			</li>
		</ul>
	</div>
</div>