<!-- Widget Seven -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-download"></i>
			<p>Download matriale 7</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li class="active">Blanketter &amp; formularer</li></a>
			<a href="#"><li>Brochurer &amp; vejledninger</li></a>
		</ul>
	</div>
	<div class="widget-content">

		<div class="filter">
			<!-- filter 1-->
			<div class="custom-select w100">
				<select>
					<option>Patent</option>
					<option value="1">lorem 1</option>
					<option value="2">lorem 2</option>
					<option value="3">lorem 3</option>
					<option value="3">lorem 4</option>
				</select>
			</div>
		</div>
		<div class="filter">

			<div class="custom-select w100">
				<select>
					<option>Vælge materiale</option>
					<option value="1">lorem 1</option>
					<option value="2">lorem 2</option>
					<option value="3">lorem 3</option>
					<option value="3">lorem 4</option>
				</select>
			</div>
		</div>
		<div class="btn-align-right">
			<div class="btn-widget">Download</div>
		</div>
	</div>
	<div class="widget-footer">
		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Se seneste downloads</span>
		</a>
	</div>
</div>