<!-- Widget Four -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-id-card-5"></i>
			<p>Pris &amp; betaling 4</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li class="active">Se priser &amp; gebyr</li></a>
			<a href="#"><li>Betal faktura</li></a>
			<a href="#"><li>Se betalingsoplysninger</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="filter">
			<!-- filter 1-->
			<div class="custom-select w100">
				<select>
					<option>Vælge område</option>
					<option value="1">Patentansøgning</option>
					<option value="2">DK/EP validering</option>
					<option value="3">Brugsmodeansøgning</option>
				</select>
			</div>
		</div>
		<div class="filter">
			<!-- filter 2-->
			<div class="custom-select w100">
				<select>
					<option>Vælg prisliste</option>
					<option value="1">Patentansøgning</option>
					<option value="2">DK/EP validering</option>
					<option value="3">Brugsmodeansøgning</option>
				</select>
			</div>
		</div>

		<div class="btn-align-right">
			<div class="btn-widget">Vis priser</div>
		</div>
		
		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Se seneste valgte</span>
		</a>
		<ul class="widget-list expand-list">
			<a href="#"><li>Lorem 1</li></a>
			<a href="#"><li>Lorem 2</li></a>
			<a href="#"><li>Lorem 3</li></a>
		</ul>
	</div>
</div>