<!-- Widget Eight -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-file-1"></i>
			<p>Love &amp; bekendtgørelser 8</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-content">
		<div class="dropdown-btn">
			<div class="filter">
				<!-- filter 1-->
				<div class="custom-select w100">
					<select>
						<option>Vælge rettighedstype</option>
						<option value="1">lorem 1</option>
						<option value="2">lorem 2</option>
						<option value="3">lorem 3</option>
						<option value="3">lorem 4</option>
					</select>
				</div>
			</div>
			<div class="btn-widget">Vis lovsamling</div>
		</div>
		
		<p class="list-title">Aktuelt</p>	
		<ul class="widget-list link-list">
			<li>
				<a href="#">
					<div class="link">
						<p>Høring over udkast til forslag til lov om forretningshemmeligheder</p>
						<small>Høringsfrist 03.11.2018</small>
					</div>
				</a>
				
			</li>
		</ul>
		<p class="list-title">Seneste lovændringer</p>
		<ul class="widget-list link-list">
			<li>
				<a href="#">
					<div class="link">
						<p>Lov om ændring af retsplejeloven, lov om Bruxelles I-forordningen m.v. og forskellige andre love</p>
						<small>§ 4 Lov nr. 670 af 8.06.2017§ 4 Lov nr. 670 af 8.06.2017</small>
					</div>
				</a>
			</li>
			
			
			<li>
				<a href="#">
					<div class="link">
						<p>Bekendtgørelse af varemærkeloven</p>
						<small>LBK nr. 103 af 24.01.2012</small>
					</div>
				</a>

			</li>
		</ul>

		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Se flere</span>
		</a>
		<ul class="widget-list link-list expand-list">
			<a href="#">
				<li>
					<div class="link">
						<p>Lov om ændring af retsplejeloven, lov om Bruxelles I-forordningen m.v. og forskellige andre love</p>
						<small>§ 4 Lov nr. 670 af 8.06.2017§ 4 Lov nr. 670 af 8.06.2017</small>
					</div>
				
				</li>
			</a>
			<a href="#">
				<li>
					<div class="link">
						<p>Bekendtgørelse af varemærkeloven</p>
						<small>LBK nr. 103 af 24.01.2012</small>
					</div>
				</li>
			</a>
			<a href="#">
				<li>
					<div class="link">
						<p>Bekendtgørelse af fællesmærkeloven</p>
						<small>LBK nr. 103 af 24.01.2012</small>
					</div>
				</li>
			</a>
		</ul>
	</div>
</div>