<!-- Widget Six -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-edit-1"></i>
			<p>Ansøg patent og brugsmodel 6.1</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li>Søg i Danmark</li></a>
			<a href="#"><li class="active">Søg internationalt</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="filter">
			<!-- filter 1-->
			<div class="custom-select w100">
				<select>
					<option>Vælge ansøgningsvej</option>
					<option value="1">Patent via EPO</option>
					<option value="2">PCT via eOLF (EPO)</option>
					<option value="3">PCT via ePCT (WIPO)</option>
					<option value="4">PPH via PVS</option>
				</select>
			</div>
		</div>
		<div class="btn-align-right">
			<div class="btn-widget align-right">Start ansøgning</div>
		</div>
		
	</div>
	<div class="widget-footer">
		<a href="#">
			<div class="btn btn-light">
				<i class="icon-arrow-link"></i>
				Registrer og test dit Smart Card
			</div>
		</a>
	</div>
</div>
