<!-- Widget Two -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-push-pin"></i>
			<p>Mine genveje 2</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
			<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
			<div class="options-wrapper">
				<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
				<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
			</div>
			<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
		</div>
	</div>
	<div class="widget-content">
		<ul class="widget-list">
			<a href="#"><li>Nice Klassigikation</li></a>
			<a href="#"><li>Patentlovgivning</li></a>
			<a href="#"><li>Ankenævnet for patenter &amp; varemærker</li></a>
			<a href="#"><li>IP-client</li></a>
			<a href="#"><li>Tidender</li></a>
			<a href="#"><li>Nice Klassigikation</li></a>
			<a href="#"><li>Patentlovgivning</li></a>
			<a href="#"><li>Ankenævnet for patenter &amp; varemærker</li></a>
			<a href="#"><li>IP-client</li></a>
			<a href="#"><li>Tidender</li></a>
		</ul>
	</div>
	<div class="widget-footer">
		<div class="btn-group">
			<a href="#">
				<div class="btn btn-light">
					<i class="icon-arrow-link"></i>
					Se flere
				</div>
			</a>

			<div class="group">
				<a href="#">
					<div class="btn-widget btn-icon">
						<i class="icon-plus"></i>
						Tilføj
					</div>
				</a>
				<a href="#">
					<div class="btn-widget btn-clear">
						Rediger
					</div>
				</a>
			</div>
		</div>
	</div>
</div>