<!-- Widget Ten -->
<div class="widget">
	<div class="topbar">
		<div class="title">
			<i class="fi flaticon-file-2"></i>
			<p>Find varemærkeklasser 10</p>
			<i class="icon-info" data-toggle="tooltip" data-placement="top" title="Information"></i>

		</div>
		<div class="options">
	<a href="#"><i class="icon-widget-more" data-toggle="tooltip" data-placement="top" title="Mere"></i></a>
	<div class="options-wrapper">
		<a href="#"><i class="icon-widget-move" data-toggle="tooltip" data-placement="top" title="Flyt"></i></a>
		<a href="#"><i class="icon-widget-close" data-toggle="tooltip" data-placement="top" title="Fjern"></i></a>
	</div>
			
	<a href="#" class="collapse-widget"><i class="icon-widget-arrow-up" data-toggle="tooltip" data-placement="top" title="Luk"></i></a>
</div>
	</div>
	<div class="widget-menu">
		<ul>
			<a href="#"><li>Søg i Nice klassfikationen</li></a>
			<a href="#"><li>Søg i andre systemer</li></a>
		</ul>
	</div>
	<div class="widget-content">
		<div class="input-search" disabled>
			<input type="text" class="form-control" placeholder="Søg" aria-label="Søg">
			<div class="btn-widget btn-filled"><i class="icon-search"></i></div>
		</div>
		<ul class="widget-list">
			<a href="#"><li>Information: Nye klasser pr. 1. januar 2018</li></a>
		</ul>
		<a href="#" class="expand-list-btn">
			<i class="icon-expand-arrrow-down"></i>
			<span>Se søgningshistorik</span>
		</a>
		<ul class="widget-list expand-list">
			<a href="#"><li>Lorem 1</li></a>
			<a href="#"><li>Lorem 2</li></a>
			<a href="#"><li>Lorem 3</li></a>
		</ul>
	</div>
</div>