@model Umbraco.Forms.Mvc.Models.FieldViewModel
@using Umbraco.Forms.Mvc
@{
    var required = Model.Mandatory ? "required" : "";

    var invalidCss = "";
    var fieldValue = Model.Value;
    if (ViewData != null && ViewData.ModelState != null && ViewData.ModelState[Model.Id] != null && ViewData.ModelState[Model.Id].Errors.Any() && !string.IsNullOrEmpty(ViewData.ModelState[Model.Id].Errors[0].ErrorMessage))
    {
        invalidCss = "input-validation-error";
        fieldValue = ViewData.ModelState[Model.Id].Errors[0].ErrorMessage;

    }
}
@if (string.IsNullOrEmpty(Model.Value))
{
    <input type="text"
           name="@Model.Name"
           id="@Model.Id"
           class="form-control"
           maxlength="500"
           @required
           @{if (Model.Mandatory || Model.Validate) { <text> data-val="true" </text>  }}
           @{if (Model.Mandatory) { <text> data-val-required="@Model.RequiredErrorMessage" </text>  }}
           @{if (Model.Validate) { <text> data-val-regex="@Model.InvalidErrorMessage" data-regex="@Html.Raw(Model.Regex)" </text>  }} />
}
else
{
    <input type="text"
           name="@Model.Name"
           id="@Model.Id"
           class="form-control @invalidCss"
           maxlength="500"
           value="@fieldValue"
           @required
           @{if (Model.Mandatory || Model.Validate) { <text> data-val="true" </text>  }}
           @{if (Model.Mandatory) { <text> data-val-required="@Model.RequiredErrorMessage" </text>  }}
           @{if (Model.Validate) { <text> data-val-regex="@Model.InvalidErrorMessage" data-regex="@Html.Raw(Model.Regex)" </text>  }} />
}
<label for="@Model.Id">
    @Model.PlaceholderText
</label>




