<template>
  <div class="settings-wrapper">
    <widget-loading :active="show" spinner="spinner" color="#fb8631" :is-full-screen="true"/>
    <div class="sidebar">
      <div class="top">
        <i class="icon-mitpvs-logo"></i>
      </div>
      <transition name="fade">
        <div class="menu" :class="{mobilemenu: showMobilemenu}">
          <nav class="settings-menu">
            <li
              @click="filterView('all')"
              :class="(active == 'all') ? 'current' : '' "
            >{{ getDicItem("allElements")}}</li>
            <li @click="filterView(link)"
                :class="(active == link) ? 'current' : '' "
                v-for="(link ,index) in this.tagfilter"
                :key="index">{{ getDicItem(link.split(' ').join('_'))}}</li>
          </nav>
        </div>
      </transition>
      <i class="mobile-btn" :class="[showMobilemenu ? closeClass : openClass]" @click="showMobilemenu = !showMobilemenu"></i>
    </div>
    <div class="settings-content">
      <div class="top">
          <h1>{{ getDicItem("addElement") }}</h1>
        <div class="btn-group">
          <router-link
            :to="{name: 'home', params: { accessToken: this.$route.params.accessToken }}"
            class="btn btn-filled"
          >{{getDicItem("saveEnd")}}</router-link>
        </div>
      </div>
      <div class="content">
        <div
          class="settings-card"
          v-for="(widget, index) in list"
          :key="index"
          v-if="widget.widgetSelected != undefined"
        >
          <div class="card-top">
            <i class="fi" :class="widget.widgetIcon"></i>
            <p>{{ widget.widgetTitle }}</p>
            <span
              v-if="widget.widgetLabel != null"
              :style="{ 'backgroundColor': '#' + widget.widgetLabelColor}"
              class="highlight"
            >{{ widget.widgetLabel }}</span>
          </div>
          <div class="card-content" v-html="widget.description"></div>
          <div class="card-bottom">
            <div
              class="btn btn-white"
              v-if="widget.UserSelected == '1'"
              @click.prevent="toggleWidget(widget.WidgetId, widget.UserSelected, widget.position), widget.UserSelected = '0'"
            >{{getDicItem("remove")}}</div>

            <div
              class="btn btn-icon"
              v-if="widget.UserSelected == '0' || widget.UserSelected == null"
              @click.prevent="toggleWidget(widget.WidgetId, widget.UserSelected, widget.position), widget.UserSelected = '1'"
            >{{getDicItem("add")}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
//Loader
import ElementLoading from "vue-element-loading";
import axios from "axios";

//Mixin
import optionsMixin from "./../mixins/mixins.js";

export default {
  mixins: [optionsMixin],
  components: { "widget-loading": ElementLoading },
  data() {
    return {
      json: [],
      grid: [],
      show: true,
      tagfilter: [],
      list: [],
      active: "all",
      showMobilemenu: false,
      openClass: "icon-menu",
      closeClass: "icon-widget-close",
      color: "000"
    };
  },
beforeCreate: function () {
    axios
      .get(
        this.$localUrl +
          "/umbraco/api/getdata/GetWidgetsData?amount=selected&token=" +
        this.$route.params.accessToken + "&pageId=" + this.$pageId
      )
      .then(response => {
        console.log(response.data);
        this.json = response.data;
        this.list = this.json;

        this.json.forEach(e => {
            e.pvsMemberRightArea.forEach(el => {
            this.tagfilter.push(el);
          });
        });
        this.tagfilter = Array.from(new Set(this.tagfilter));
        this.show = false;
      })
      .catch(e => {
        console.log(e);
      });
  },
mounted: function () {
    axios
      .get(
        this.$localUrl +
          "/umbraco/api/Grid/GetGrid?token=" +
          this.$route.params.accessToken
      )
      .then(grid => {
        this.grid = JSON.parse(grid.data) != null ? JSON.parse(grid.data) : [];
        // console.log("OLD: ", this.grid);
      })
      .catch(e => {
        console.log("Failed getting the grid data");
        this.show = true;
        console.log(e);
      });
  },
  methods: {
    toggleWidget(id, selected, position) {
      var vm = this;
      var jGrid = JSON.parse(position);
      var widgetSelected = selected != null ? selected.toString() : "0";
      switch (widgetSelected) {
        case "0":
            this.grid.push({
            x: (this.grid.length <= 0 ? 0 : jGrid[0].posW == 2 ? 0 : this.grid[this.grid.length - 1].x == 1 ? 0 : this.grid[this.grid.length - 1].w == 2 ? 0 : 1),
            y: this.grid.length > 0 ? this.grid[this.grid.length - 1].y + this.grid[this.grid.length - 1].h + 5 : 0,
            w: jGrid[0].posW,
            h: 2,
            i: id,
            moved: "false"
          });
          break;
        case "1":
          var index = 0;
          this.grid.forEach(widget => {
            if (widget.i == id) {
              this.grid.splice(index, 1);
            }
            index++;
          });
          break;
        default:
          console.log("No Match");
          break;
      }
      var gridData = JSON.stringify({
        token: this.$route.params.accessToken,
        Grid: JSON.stringify(this.grid)
      });
      var xhr = new XMLHttpRequest();
      xhr.withCredentials = true;
      xhr.addEventListener("readystatechange", function() {
        // when the grid has been updated
        if (this.readyState === 4) {
          // console.log("Update grid: ", this.responseText);
        }
      });
      xhr.open("POST", this.$localUrl + "/umbraco/api/Grid/UpdateGrid");
      xhr.setRequestHeader("content-type", "application/json");
      xhr.setRequestHeader("cache-control", "no-cache");
      xhr.send(gridData);
      // Widget Switch update
      var switchData = JSON.stringify({
        token: vm.$route.params.accessToken,
        id: id,
        selected: selected == "0" ? "1" : "0",
        open: "1"
      });

      var switchXhr = new XMLHttpRequest();
      switchXhr.withCredentials = true;
      switchXhr.addEventListener("readystatechange", function() {
        if (this.readyState === 4) {
          // console.log(this.responseText);
        }
      });

      switchXhr.open(
        "POST",
        this.$localUrl + "/umbraco/api/UserWidget/WidgetIsOpenOrSelected"
      );
      switchXhr.setRequestHeader("content-type", "application/json");
      switchXhr.setRequestHeader("cache-control", "no-cache");

      setTimeout(function() {
        switchXhr.send(switchData);
      }, 500);
    },
    filterView(link) {
      this.active = link;
      
      if (link == "all") {
        this.list = this.json;
      } else {
        this.list = this.json.filter((x, i) => { return x.pvsMemberRightArea.includes(link)});
      }
    }
  }
};
</script>
<style lang="scss" scoped>

.mobile-btn {
    display: none;
    color: $orange;
    position: fixed;
    right: 20px;
    top: 10px;
    font-size: 45px;
    z-index: 100;

    @media (max-width: $small-screen) {
      display: inline-block;
    }
  }
  body {
    margin: 0 !important;
  }

.settings-wrapper {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: $dark-white;
  overflow: hidden;
  
  @media (max-width: $small-screen) {
    flex-direction: column;
  }

  .settings-content
  {
    width: calc(100% - 250px);
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    margin-left: 250px;
    box-sizing: border-box;
    background-color: $grey;

    @media (max-width: $small-screen) {
      overflow-y: scroll;
      width: 100%;
       margin-left: 0px;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      background-color: $white;

      h1 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 0;
        padding: 5px 25px;
        @media (max-width: $small-screen) {
            padding: 5px 10px;
            width: 100%;
          }
      }

      .btn {
        color: $dark-grey;
        border: 1px solid $grey;

        &:hover {
          background-color: $white;
        }
      }

      .btn-filled {
        color: $white;

        &:hover {
          background-color: darken($orange, 5%);
        }
      }

      .btn-group {
        margin-bottom: 0;
        justify-content: flex-end;
        padding: 5px 15px;
        a {
          text-decoration: none;
        }
        @media (max-width: $small-screen) {
           padding: 5px 0px;
        }
      }

      @media (max-width: $small-screen) {
        padding: 5px;

        .btn-group {
          flex-direction: row;

          .btn {
            padding: 15px 25px;
          }
        }
      }
    }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    background-color: $grey;
    padding: 25px 60px 20px 30px;

    @media (max-width: $small-screen) {
      padding: 10px;
    }
  }
  }
}

.sidebar {
  width: 250px;
  height: 100vh;
  color: $white;
  background-color: $black;
  position: fixed;
  top: 0;
  left: 0;
  @media (max-width: $small-screen) {
    display: flex;
    position: relative;
    height: 70px;
    width: 100%;
    padding: 5px;
    z-index: 100;
  }

  .top {
    height: 70px;
    margin-bottom: 45px;
    padding: 35px 25%;
    position: relative;

    @media (max-width: $small-screen) {
      padding: 15px;

    }
    .icon-mitpvs-logo {
      font-size: 32px;
      text-align: center;
    }
  }

  .menu {
    .settings-menu {
      width: 100%;
      list-style: none;
      padding: 0;

      li {
        width: 100%;
        font-size: 14px;
        line-height: 30px;
        border-left: 5px solid transparent;
        transition: $transition;
        cursor: pointer;
        padding: 0px 22%;

        &:hover {
          text-decoration: underline;
        }
      }

      li.current {
        color: $orange;
        font-family: bold;
        border-color: $orange;
      }
    }

    @media (max-width: $small-screen) {
      display: none;
      width: 100%;
      position: absolute;
      top: 70px;
      left: 0;
      background: linear-gradient(to bottom, $black, $light-black);
      z-index: 100;
      padding-bottom: 30px;
      .settings-menu {
        li {
          padding: 0px 0 0 20px;
        }
      }
      &.mobilemenu {
        display: flex;
      }
    }
  }
}

.settings-card {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 20px;
  background-color: $white;
  box-shadow: 0px 5px 14px 0px rgba(0, 0, 0, 0.58);
  
  &:last-child {
    margin-bottom: 130px;
  }
  @media (max-width: $medium-screen) {
    width: 90%;
  }

  .card-top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid $dark-white;
    flex-wrap: wrap;
    p {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 0;
    }

    i {
      font-size: 30px;
      margin-right: 15px;
    }

    .highlight {
      text-align: center;
      position: absolute;
      right: 20px;
      background-color: $green;
      border-radius: 15px;
      padding: 4px 17px;
      font-size: 11px;
      color: $white;

      @media (max-width: $small-screen) {
        position: relative;
        margin-top: 10px;
        margin-left: 25px;
      }
    }
  }

  .card-content {
    background-color: $white;
    padding: 20px 25px;

    p {
      margin-bottom: 0;
    }
  }

  .card-bottom {
    display: flex;
    padding: 20px 25px;
    align-self: flex-end;
  }
}
</style>
