<template>
  <div class="settings-wrapper">
    <widget-loading :active="show" spinner="spinner" color="#fb8631" :is-full-screen="true"/>
    <div class="sidebar">
      <div class="top">
        <i class="icon-mitpvs-logo"></i>
      </div>
      <!-- <div class="menu">
                <nav class="settings-menu">
                    <li class="current">Alle elementer</li>
                    <li>Generelle</li>
                    <li>Patent/Brugsmodel</li>
                    <li>Varemærke</li>
                    <li>Design</li>
                </nav>
      </div>-->
    </div>
    <div class="settings-content">
      <div class="top">
        <h1>{{ getDicItem("edite_profile")}}</h1>
        <div class="btn-group">
          <router-link
            :to="{name: 'home', params: { accessToken: this.$route.params.accessToken }}"
            class="btn"
          >{{ getDicItem("end")}}</router-link>
          <a
            class="btn btn-filled"
            v-show="showButton"
            v-on:click.prevent="updateUserData"
          >{{ getDicItem("save")}}</a>
        </div>
      </div>
      <div class="content">
        <div class="profil" id="test">
          <h3>{{ getDicItem("profil_information") }}</h3>

          <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="firstname"
                v-model="userData.firstName"
                v-on:change="showBtn"
                required
              >
              <label for="exampleInputEmail1">{{ getDicItem("firstname") }} </label>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                v-model="userData.lastName"
                v-on:change="showBtn"
                required
              >
              <label for="exampleInputEmail1">{{ getDicItem("lastname") }}</label>
            </div>
            <!-- <div class="form-group">
                            <input type="text" class="form-control" :value="userData.category" required>
                            <label for="exampleInputEmail1">Title</label>
            </div>-->
            <!-- <div class="form-group">
                            <input type="text" class="form-control" value="Bech-Bruun" required>
                            <label for="exampleInputEmail1">Virksomhed</label>
            </div>-->
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                v-model="userData.email"
                v-on:change="showBtn"
                required
              >
              <label for="exampleInputEmail1">{{ getDicItem("email") }}</label>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                v-model="userData.altEmail"
                v-on:change="showBtn"
                required
              >
              <label for="exampleInputEmail1">{{ getDicItem("alt_email") }}</label>
            </div>
            <!-- <div class="form-group">
              <input
                type="text"
                class="form-control"
                v-model="userData.number"
                v-on:change="showBtn"
                required
              >
              <label for="exampleInputEmail1">Telefon nummer</label>
            </div>-->
            <div class="form-group">
              <div class="btn btn-delete" @click.prevent="deleteUser">{{ getDicItem("delete_user_btn") }}</div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
//Loader
import ElementLoading from "vue-element-loading";
//Mixin
import optionsMixin from "./../mixins/mixins.js";
export default {
  mixins: [optionsMixin],
  components: { "widget-loading": ElementLoading },
  data() {
    return {
      show: true,
      userData: [],
      token: this.$route.params.accessToken,
      showButton: true
    };
  },
    beforeCreate: function () {
    var url =
      this.$localUrl +
      "/umbraco/api/UserData/GetAllData?token=" +
      this.$route.params.accessToken;
    axios
      .get(url)
      .then(userData => {
        this.userData = userData.data;
        console.log("USERDATA: ", this.userData)
        this.show = false;
      })
      .catch(e => {
        this.show = true;
      });
  },
  methods: {
    
    updateUserData: function() {
      var vm = this;
      var url = this.$localUrl + "/umbraco/api/UpdateUserData/UpdateData";
      var data = JSON.stringify(this.userData);

      var xhr = new XMLHttpRequest();
      xhr.withCredentials = true;

      xhr.addEventListener("readystatechange", function() {
        if (this.readyState === 4) {
          vm.showButton = false;
          console.log(this.responseText);
        }
      });

      xhr.open("POST", url);
      xhr.setRequestHeader("content-type", "application/json");
      xhr.setRequestHeader("cache-control", "no-cache");
      xhr.send(data);
    },
    showBtn: function() {
      this.showButton = true;
    },
    deleteUser: function() {
        this.$modal.show("removeuser-modal", {
            
        });
    }
  }
};
</script>
<style lang="scss" scoped>


.settings-wrapper {
  display: flex;
  position: fixed !important;
  width: 100%;
  height: 100%;
  background-color: $dark-white;

  @media (max-width: $small-screen) {
    flex-direction: column;
  }

  .settings-content {
    width: 100%;
    height: 100%;
    @media (max-width: $small-screen) {
      overflow-y: scroll;
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 70px;
      background-color: $white;

      h1 {
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 0;
        padding: 5px 30px;

        @media (max-width: $small-screen) {
          padding: 5px;
        }
      }

      .btn {
        color: $dark-grey;
        border: 1px solid $grey;

        &:hover {
          background-color: $white;
        }
      }

      .btn-filled {
        color: $white;

        &:hover {
          background-color: darken($orange, 5%);
        }
      }

      .btn-group {
        margin-bottom: 0;
        justify-content: flex-end;
        padding: 5px 10px;
        a {
          text-decoration: none;
        }
      }

      @media (max-width: $small-screen) {
        padding: 5px;

        .btn-group {
          flex-direction: row;

          .btn {
            padding: 15px 25px;
          }
        }
      }
    }

    .content {
      display: inline-block;
      width: 100%;
      height: 100%;
      background-color: $grey;
      overflow-y: scroll;
      padding: 25px 60px 20px 30px;

      .btn-delete {
        background: darken($red, 5%);
        max-width: 110px;
        margin: 35px 0;
        &:hover {
          color: $white;
          background-color: darken($red, 1%);

          i {
            color: $white;
          }
        }
      }
      @media (max-width: $small-screen) {
        padding: 10px;
      }
    }
  }
}

.sidebar {
  width: 300px;
  height: 100%;
  color: $white;
  background-color: $black;
  position: relative;

  @media (max-width: $small-screen) {
    display: none;
  }

  .top {
    height: 70px;
    margin-bottom: 45px;
    padding: 35px 25%;
    position: relative;

    @media (max-width: $small-screen) {
      padding: 15px;
    }
    .icon-mitpvs-logo {
      font-size: 32px;
      text-align: center;
    }
  }

  .menu {
    .settings-menu {
      width: 100%;
      list-style: none;
      padding: 0;

      li {
        width: 100%;
        font-size: 14px;
        line-height: 30px;
        border-left: 5px solid transparent;
        transition: $transition;
        cursor: pointer;
        padding: 0px 22%;

        &:hover {
          text-decoration: underline;
        }
      }

      li.current {
        color: $orange;
        font-family: bold;
        border-color: $orange;
      }
    }

    @media (max-width: $small-screen) {
      width: 100%;
    }
  }
}
.profil {
  background-color: $white;
  width: 80%;
  padding: 20px 35px;
  border-bottom: 5px solid $dark-grey;

  h3 {
    font-size: 16px;
    line-height: 22px;
    margin-left: 5px;
  }

  @media (max-width: $small-screen) {
    width: 85%;
    padding: 10px;
  }
}
form {
  width: 100%;
  max-width: 420px;
  margin: 20px 0;

  .btn {
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .form-group {
    position: relative;

    label {
      width: 100%;
      background-color: $white;
      position: absolute;
      pointer-events: none;
      padding-left: 10px;
      top: 35px;
      left: 0;
      transition: $transition;
      color: $dark-grey;
    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .form-control {
        border-bottom: 1px solid $grey;
      }
      label{
        top: 10px;
        left: 0px;
        font-size: 12px;
      }
    }
  }
  .form-control {
    color: $black;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 0;
    padding: 0.7rem 0.75rem;
    padding-left: 10px;
    margin-top: 1.7rem;
    width: 90%;
    &:focus {
      border-bottom: 1px solid $orange;
      outline: none;
      box-shadow: none;
    }

    &:focus + label,
    &:valid + label {
      top: 10px;
      left: 0;
      font-size: 12px;
      color: $orange;
    }

    &:valid {
      border-bottom: 1px solid $green;
    }

    &:valid + label {
      color: $green;
    }
  }

  .notValid {
    .form-control {
      border-bottom: 1px solid $red;
    }

    label {
      top: -10px;
      left: 0;
      font-size: 12px;
      color: $red !important;
    }
  }
}
</style>
