<template>
  <div class="frame" >
    <widget-loading :active="show" spinner="spinner" color="#fb8631" :is-full-screen="true"/>
    <div class="top-bar">
      <widget-top-menu v-show="!show"></widget-top-menu>
      <widget-notification v-for="(item, index) in notification" :key="index" :data="item"/>
    </div>
    <div class="widget-wrapper" v-if="json">
      <grid-layout
        :layout="this.layout"
        :col-num="2"
        :row-height="59"
        :is-draggable="true"
        :is-resizable="false"
        :margin="[60, 60]"
        :verticalCompact="true"
        :responsive="false"
        :useCssTransforms="false"
        @layout-updated="layoutUpdatedEvent"
      >
          <grid-item v-for="(item, index) in layout"
                     :key="index"
                     :x="item.x"
                     :y="item.y"
                     :w="item.w"
                     :h="item.h"
                     :i="item.i"
                     drag-allow-from=".vue-draggable-handle"
                     drag-ignore-from=".no-drag"
                     @move="moveEvent">
              <div
                  :is="json[indexWhere(item.i)].widgetName"
                  :data="json[indexWhere(item.i)]"
              ></div>
          </grid-item>
      </grid-layout>
    </div>
  </div>
</template>
<script>
//Loader
import ElementLoading from "vue-element-loading";
import Vue from "vue";

import TopMenu from "./widget-components/Topmenu.vue";
import PVSNotification from "./widget-components/Notification.vue";
import WidgetShortcut from "./widgets/Widget-shortcut.vue";
import WidgetFindRights from "./widgets/Widget-find-rights.vue";
import WidgetGuidelines from "./widgets/Widget-guidelines.vue";
import WidgetSystemStatus from "./widgets/Widget-system-status.vue";
import WidgetPricePay from "./widgets/Widget-price-pay.vue";
import WidgetLovBekendtgorelser from "./widgets/Widget-lov-bekendtgorelser.vue";
import WidgetDownlaodMatrial from "./widgets/Widget-download-material.vue";
import WidgetSearchPatent from "./widgets/Widget-search-patent.vue";
import WidgetNews from "./widgets/Widget-news.vue";



import VueGridLayout from "vue-grid-layout";
import axios from "axios";

//Mixin
import optionsMixin from "./../mixins/mixins.js";

var GridLayout = VueGridLayout.GridLayout;
var GridItem = VueGridLayout.GridItem;
   
export default {
  mixins: [optionsMixin],
  components: {
    "widget-top-menu": TopMenu,
    "widget-loading": ElementLoading,
    "widget-find-rights": WidgetFindRights,
    "widget-shortcut": WidgetShortcut,
    "widget-guideline": WidgetGuidelines,
    "widget-system-status": WidgetSystemStatus,
    "widget-price-pay": WidgetPricePay,
    "widget-lov-bekendtgorelser": WidgetLovBekendtgorelser,
    "widget-download-matrial": WidgetDownlaodMatrial,
    "widget-search-patent": WidgetSearchPatent,
    "widget-news": WidgetNews,
    "widget-notification": PVSNotification,
    GridLayout,
    GridItem
    // 'widget-shortcut': WidgetShortcut,
    // 'widget-status': WidgetStatus,
  },
  data() {
    return {
      json: [],
      layout: [],
      show: true,
      notification: [],
      url: "",
      bgImage: ""
    };
  },
    beforeCreate: function () {
      
    // get Settings data
    this.$http
        .get(
        this.$localUrl +
            "/umbraco/api/Basic/GetSettings"
        )
        .then(response => {
            this.bgImage = response.data.BackgroundImage;
        
        })
        .catch(e => {
        console.log("Failed getting the settings data");
        console.log(e);
        });
// get notifications data
this.$http
    .get(
    this.$localUrl +
        "/umbraco/api/GetNotification/GetNotificationsData?token=" +
        this.$route.params.accessToken + "&pageId=" + this.$pageId
    )
    .then(response => {
    var cookieNotification =
        this.$cookie.get("notfication") == null
        ? []
        : this.$cookie.get("notfication").split(",");

    response.data.forEach(e => {
        if (!cookieNotification.includes(e.Id)) {
        this.notification.push(e);
        }
    });
    })
    .catch(e => {
    console.log("Failed getting the cookie notification data");
    this.show = true;
    console.log(e);
    });

var url =
    this.$localUrl +
    "/umbraco/api/getdata/GetWidgetsData?token=" +
    this.$route.params.accessToken +
    "&amount=selected&pageId="+ this.$pageId;
axios
    .get(url)
  .then(widgetData => {
      if (!widgetData.data) {
        this.$cookie.delete("userToken");
        window.location.replace("/");
      } else {
        console.log(widgetData)
        widgetData.data.forEach(el => {
          if (el.UserSelected == 1 && el.widgetSelected == 1) {
            this.json.push(el);
          }
        });
      }
    //get usergrid data
    axios
        .get(
        this.$localUrl +
            "/umbraco/api/Grid/GetGrid?token=" +
            this.$route.params.accessToken
        )
        .then(response => {
        this.show = false;
        // build grid for global data
        var globalGrid = this.buildGrid(this.json);
        // user grid data
        var localGrid = JSON.parse(response.data);
        if (localGrid == null) {
            this.layout = globalGrid;
            this.layoutUpdatedEvent(globalGrid);
        } else if (globalGrid.length < localGrid.length) {
            //remove grid element for user grid if widget are remove by PVS
            var newGrid = this.compareGrid(localGrid, globalGrid);
            this.layout = newGrid;
        } else {
            //make sure the widget has the right width
            this.json.forEach(function(e) {
              var pos = JSON.parse(e.position);
              localGrid.forEach(function(i) {
                if(i.i == e.WidgetId){
                  i.w = pos[0].posW = null ? 1 : pos[0].posW;
                }
              });
            });

            this.layout = localGrid;
        }
        })
        .catch(e => {
        console.log("Failed getting the grid data");
        this.show = true;
        console.log(e);
        });
    })
    .catch(e => {
    this.show = true;
    console.log(e);
    });
    },
    mounted: function () {
      setTimeout(function () {
      }, 2000);
    this.$root.$on("remove-widget", data => {
        this.removeWidget(data)
    });
},
  methods: {
    indexWhere(id) {
      for (var i = 0; i < this.json.length; i++) {
        if (this.json[i].WidgetId == id) {
          return i;
        }
      }
    },
    buildGrid(data) {
      var grid = [];
      var x = 0;
      var y = 0;
      data.forEach(function(e) {
        // data grid input
        var g = JSON.parse(e.position);
        var pos = {};
        //Build grid for each widget

        g.forEach(el => {
          pos = {
            x: x,
            y: y,
            w: el.posW,
            h: 1,
            i: e.WidgetId
          };
          grid.push(pos);
        });
        y++;
        x = x == 0 ? 1 : 0;
      });
      return grid;
    },
    compareGrid(localgrid, globalGrid) {
      var newGrid = [];
      localgrid.forEach(e1 =>
        globalGrid.forEach(e2 => {
          if (e1.i === e2.i) {
            newGrid.push(e1);
          }
        })
      );
      return newGrid;
    },
    moveEvent: function(){
      this.removeZindex()
    },
    //update grid and save it on the user in Umbraco
    // TODO change it to axios
    layoutUpdatedEvent: function(newLayout) {
      var data = JSON.stringify({
        token: this.$route.params.accessToken,
        Grid: JSON.stringify(newLayout)
      });
      var xhr = new XMLHttpRequest();
      xhr.withCredentials = true;
      xhr.addEventListener("readystatechange", function() {
        if (this.readyState === 4) {
          // console.log(this.responseText);
        }
      });
      xhr.open("POST", this.$localUrl + "/umbraco/api/Grid/UpdateGrid");
      xhr.setRequestHeader("content-type", "application/json");
      xhr.setRequestHeader("cache-control", "no-cache");
      xhr.send(data);
    },
    //TODO Make this func. smarter
      removeWidget(id) {
      var index = 0;
      this.layout.forEach(widget => {
        if (widget.i == id) {
          this.layout.splice(index, 1);
        }
        index++;
      });
      var i = 0;
      this.json.forEach(widget => {
        if (widget.WidgetId == id) {
          this.json.splice(i, 1);
        }
        i++;
      });
      this.layoutUpdatedEvent(this.layout);
      var data = JSON.stringify({
        token: this.$route.params.accessToken,
        id: id,
        selected: "0",
        open: "0"
      });
      var xhr = new XMLHttpRequest();
      xhr.withCredentials = true;
      xhr.addEventListener("readystatechange", function() {
        if (this.readyState === 4) {
          console.log(this.responseText);
        }
      });
      xhr.open(
        "POST",
        this.$localUrl + "/umbraco/api/UserWidget/WidgetIsOpenOrSelected"
      );
      xhr.setRequestHeader("content-type", "application/json");
      xhr.setRequestHeader("cache-control", "no-cache");
      setTimeout(function() {
        xhr.send(data);
      }, 500);
      }
  },
  watch: {
    // whenever active changes, this function will run
    overlay: function() {
      document.body.style.overflow = this.overlay ? "hidden" : "";
    }
  }
};
</script>
<style lang="scss">
  .ipad-frame, .mobile-frame {
    #app {
      display: none;
    }
  }

.velmld-overlay {
  background-color: rgba(0, 0, 0, 0.9) !important;
}
// .vue-grid-item {
//   transform: none !important;
// }

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
    body {
        background-color: $black;
    }
.vue-grid-layout {
    margin-bottom: 100px;
}

.vue-grid-item.vue-grid-placeholder {
  background: $orange;
  opacity: 0.4;
}
  .v--modal-overlay .v--modal-background-click {
    height: 100%;
  }

  .v--modal-block-scroll, .v--modal-background-click {
    height: 100%!important;
  }
  .frame {
    position: absolute !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: center;
    overflow-y: auto
  }

.widget-wrapper {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 400px;
  max-width: 1350px;
  z-index: 100;
  align-self: center;
  margin-top: 100px;
}
.icon-widget-close {
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  background: rgba($black, 0.9);
  z-index: 150;

  @media (max-width: $small-screen) {
    height: auto;
  }
}
 /*GRID*/
.vue-grid-layout {
  width: 100%;
}
    /*TEST*/
    .gbox {
        background-color: red;
        .top

    {
        height: 59px;
        background-color: white;
    }

    .content {
    }

    }
</style>
