.widget-wrapper {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	min-height: 400px;
	max-width: 1200px;
	z-index: 100;
	margin-top: 90px;
}

// space //
	.space {
		margin: 20px 0;
	}
//////////

// *********************** //
// Widget menu 		       //
// *********************** //
.widget-menu {
	width: 100%;
	background-color: $dark-white;

	ul {
		display: flex;
		list-style-type: none;
		margin-bottom: 0;
		padding-left: 0;
		flex-wrap: wrap;
		
		a {
			color: $black;
			text-decoration: none;
		}

		li {
			font-size: 14spx;
			padding: 12px 25px;
			border-bottom: 5px solid transparent;
			transition: $transition;

			&:hover {
				border-color: $orange;
			}

			&.active {
				border-color: $orange;
			}
		}
	}
}

// *********************** //
// Widget footer 		  //
// *********************** //

.widget-footer {
	width: 100%;
	padding: 20px 25px;
	box-sizing: border-box;
	background-color: rgba($black, .7);
	border-top: 1px solid $dark-grey;
	
	.btn-light i{
		left: 0px;
		transition: $transition;
	}

	.btn-light:hover {
		i {
			left: 5px;
		}
	}

	.btn-group {
	    width: 100%;
	    margin-bottom: 0px;	

	    .btn {
	    	margin: 0 0 0 0;
	    }
	}
	a {
		margin: 10px 0;
	}
}

// *********************** //
// Widget frame 	       //
// *********************** //
.widget {
    display: inline-block;
    position: relative;
    width: 48%;
    margin-top: 60px;

    @media (max-width: $small-screen) {
        width: 100%;
    }

    a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $white;

        i {
            color: $orange;
            font-size: 26px;
            margin-right: 10px;
        }
    }

    .topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: $white;
        overflow: hidden;
        border-bottom: 1px solid $light-grey;

        .title, .options {
            display: flex;
            align-items: center;

            p {
                font-family: regular;
                font-size: 18px;
                margin: 0 0px;
                margin-bottom: 0;
                padding: 0 10px 0 20px;
            }

            i {
                font-size: 22px;
                color: $grey;
            }

            .fi {
                color: $black;
                font-size: 28px;
                padding-left: 15px;
            }

            a {
                text-decoration: none;

                &:hover {
                    color: $orange;
                }
            }
        }

       

        .options {
            i {
                font-size: 32px;
                color: $grey;
            }

            &-wrapper {
                display: none;
            }
        }
    }

    &-content {
        position: relative;
        background-color: rgba(0,0,0,.7);
        padding: 30px 25px;

        .w100 {
            width: 100%;
            margin-right: 0;
        }
    }

    .divider {
        height: 1px;
        width: 100%;
        padding: 0 5px;
        margin: 25px 0;
        background-color: $dark-grey;
    }
}


