.systemstatus {
	.accordion {
		li {
			align-items: flex-start;
			border-bottom: 1px solid $dark-grey;
			padding: 15px 0;
			cursor: pointer;

			p {
				font-size: 14px;
				line-height: 20px;
			}
		}
		
    	.inner {
			padding-left: 0;
		}
		
	}

	.service {
		display: flex;
		justify-content: space-between;
		width: 100%;
		
		&-name {
			
			p {
				color: $white;
				margin: 0;
			}

			small {
				color: $dark-grey;
				font-size: 12px;
			}
		}
		
		.status {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 2px solid $grey;
			padding: 12px;
			color: $white;
			height: 20px;
			border-radius: 40px;
			font-size: 10px;
			text-transform: uppercase;	

			&.down {
				border-color: $red;
			}
			&.up {
				border-color: $green;
			}
		}
	}

	.service-info {
		p, small {
			color: $grey;
			font-size: 14px;
			line-height: 20px;
		}
	}

	.accordion.expand-list {
		display: none;
	}
}