.widget-find {
	
	width: 100%;

	.widget-footer {
		padding: 0;

		ul {
			display: flex;
			list-style-type: none;
			margin-bottom: 0;
			padding-left: 0;
			
			a {
				color: $white;
				text-decoration: none;

			}

			li {
				display: flex;
				align-items: center;
				padding: 15px;
				transition: $transition;

				i {
					font-size: 28px;
					color: $orange;
				}

				p {
					margin-bottom: 0;
				}
			}
		}
	}
		
	.widget-content {
		display: flex;
		

		@media (max-width: $medium-screen) {
			flex-direction: column;
		}

		.input-search {
			position: relative;
			width: 100%!important;

			label {
				top: -20px;
				position: absolute;
				font-size: 12px;
				color: $grey;
				margin-left: 0px;
				margin-bottom: 5px;
			}
		}
	}
	
	.search-wrapper {
		width: 100%;

		.input-search {
			margin-bottom: 30px;
		}

		.radio-filter {
			display: flex;
			margin-top: 50px;

			.btn {
				margin-top: -20px;
				margin-right: 0;
			}

			@media (max-width: $small-screen) {
				flex-direction: column;

				.btn {
					margin-top: 0px;
				}
			}

		}
	}

	.filter-wrapper {
		display: flex;
		flex-direction: column;
		
		.filter {	
			display: flex;
			margin-right: 20px;

			.select {
				margin-bottom: 0;
			}
		}
		@media (max-width: $small-screen) {
			flex-direction: column;
			
			.checkbox-dropdown {
				width: 100%;
			}

			.input-search {
				margin-top: 10px;
			}

			.filter {
				margin-right: 0;
				flex-direction: column;

				.checkbox-dropdown-arrow, .custom-select {
					width: 100%;
				}
			}
		}

		@media (max-width: $medium-screen) {
			margin-bottom: 20px;
		}
	}

}