﻿@inherits WebViewPage<FormViewModel>
@using Umbraco.Forms.Core
@using Umbraco.Forms.Mvc
@using Umbraco.Forms.Mvc.Models
@using Umbraco.Forms.Mvc.BusinessLogic


@{
    // here we load in the needed default assets for the form
    // this means that 3rd party themes can override these by implementing their own form.cshtml file
    //it will simply hook into standard way forms load assets
    if (Model.DisableDefaultStylesheet == false)
    {
        Html.SetFormThemeCssFile(Model, "~/App_Plugins/UmbracoForms/Assets/Themes/Default/style.css");
    }
    var umbracoHelper = new Umbraco.Web.UmbracoHelper();
    var skipButtonText = umbracoHelper.GetDictionaryValue("Profile warning message");
}
@if (Model.ShowValidationSummary)
{
    @Html.ValidationSummary(false)
}

@foreach (FieldsetViewModel fs in Model.CurrentPage.Fieldsets)
{
    foreach (var c in fs.Containers)
    {
        foreach (FieldViewModel f in c.Fields)
        {
            <div class="form-group">
                @Html.Partial(FormThemeResolver.GetFieldView(Model, f), f)

            </div>
        }
    }
}

<div style="display: none">
    <input type="text" name="@Model.FormId.ToString().Replace("-", "")" />
</div>


<div class="umbraco-forms-navigation row-fluid">

    <div class="col-md-12">
        @if (Model.IsMultiPage)
        {
            if (!Model.IsFirstPage)
            {
                <input class="btn prev cancel"
                       type="submit"
                       value="@Model.PreviousCaption"
                       name="__prev" />
            }

            if (!Model.IsLastPage)
            {
                <input type="submit"
                       class="btn next"
                       value="@Model.NextCaption"
                       name="__next" />
            }

            if (Model.IsLastPage)
            {
                <input type="submit"
                       class="btn primary"
                       value="@Model.SubmitCaption"
                       name="__next" />
            }
        }
        else
        {
            if (Model.FormId == MitPvs.Feature.Constants.FormId.AlternativeEmailFormId)
            {
                <div class="row">
                    <input class="btn prev cancel"
                           onclick="document.getElementById('myInput').value = ''"
                           type="submit"
                           value="@skipButtonText"
                           name="__prev"/>
                    <input type="submit"
                           class="btn btn-filled"
                           value="@Model.SubmitCaption"
                           name="__next"/>
                </div>

            }
            else
            {
                <input type="submit"
                       class="btn btn-filled"
                       value="@Model.SubmitCaption"
                       name="__next"/>
            }
        }

    </div>

</div>

@* </div>*@
