.categoryprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;

    h2,
    p,
    small {
        text-align: center;
        color: $black;
        font-weight: normal;
    }

    h2 {
        line-height: 38px;
    }

    span {
        font-family: bold;
    }

    small {
        color: $grey;
    }

    .btn {
        margin-bottom: 25px;
    }

    .btn-group {
        margin-bottom: 20px;
        width: 100%;
        justify-content: center;

        .btn {
            margin: 0;
        }
    }

    form {
        max-width: none;
    }

    .cards {
        display: flex;
        margin: 40px 0 45px 0;
        justify-content: center;

        @media (max-width: $small-screen) {
            flex-direction: column;
            align-items: center;
        }

        .card-wrapper {
            position: relative;
            width: 235px;
            height: 230px;
            float: left;
            margin: 0 20px;

            @media (max-width: $small-screen) {
                margin-bottom: 15px;
            }

            .card-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                height: 100%;
                box-shadow: 0 4px 12px rgba($black, 0.16);

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 200px;
                    width: 100%;
                    margin-bottom: 0;
                    cursor: pointer;
                    background-position: center center;
                    background-size: auto 50%;
                    background-repeat: no-repeat;

                    p {
                        position: absolute;
                        bottom: 20px;
                        margin-bottom: 0;
                        left: 0;
                        width: 100%;
                    }
                }
            }

            .c-card {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                visibility: hidden;

                ~ .card-content {
                    transition: $transition;
                }

                &:hover ~ .card-content {
                    background-color: $grey;

                    i,
                    p {
                        color: $white;
                        border-color: $white;
                    }
                }

                &:checked ~ .card-content {
                    background-color: $dark-grey;

                    img {
                        filter: brightness(0) invert(1);
                    }

                    p {
                        color: $white;
                        border-color: $white;
                    }
                }
            }
        }
    }
}
