.conditions {
    display: flex;
    justify-content: center;
    flex-direction: column;

    small {
        padding-top: 10px;
        align-self: center;
        text-align: center;
    }

    .checkbox {
        border-color: $white;
    }
}
.conditions, .confirm-mail {
    h2 {
        text-align: center;
        color: $dark-grey;
        margin-bottom: 40px;
    }

    &-textbox {
        max-height: 380px;
        overflow-y: scroll;
        margin-bottom: 20px;
        padding-right: 35px;
        border-bottom: 1px solid $white;
    }

    label {
        font-family: regular;
        font-size: 80%;
        color: $dark-grey;
        margin-bottom: 30px;
        font-weight: 400;

        .checkbox {
            background-color: transparent;
        }
    }

    .btn-group {
        width: 100%;
        justify-content: flex-end;
    }
}

.confirm-mail {
    li {
        margin-bottom: 50px;
    }

    p {
        font-family: light;
        margin-bottom: 0px;
        word-break: break-word;
    }

    small, a {
        color: $grey;
        font-size: 12px;
        margin-bottom: 15px;
    }

    a {
        text-decoration: underline;
    }
}