form {
    width: 100%;
    max-width: 420px;

    .btn {
        margin: 0 auto;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .form-group {
        position: relative;

        label {
            width: 100%;
            background-color: $white;
            position: absolute;
            pointer-events: none;
            padding-left: 10px;
            top: 10px;
            transition: $transition;
            color: $dark-grey;
        }
    }

    .form-control {
        color: $black;
        border: none;
        border-bottom: 1px solid transparent;
        border-radius: 0;
        padding: 0.7rem 0.75rem;
        padding-left: 10px;
        margin-top: 1.7rem;

        &:focus {
            border-bottom: 1px solid $orange;
            outline: none;
            box-shadow: none;
        }

        &:focus + label, &:valid + label {
            top: -18px;
            left: 0;
            font-size: 12px;
            color: $orange;
        }

        &:valid {
            border-bottom: 1px solid $green;
        }

        &:valid + label {
            color: $green;
        }
    }

    .notValid {
        .form-control {
            border-bottom: 1px solid $red;
        }
    }
}
.form-btn {

    form {
        display: flex;
        justify-content: center;

        button {
            background-color: transparent;
            border: none;
            color: $grey;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            transition: $transition;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
#profile-details-form {
    min-width: 100%;

    .form-group {
        width: 50%;
        margin: 0 auto;

        @media (max-width: $small-screen) {
            width: 90%;
        }
    }

    .btn-group {
        margin: 25px 0;
        width: 100%;
    }
}
#accept-terms-form {
    min-width: 100%;

}

.modal form .form-group {
    label {
        font-size: 12px;
        line-height: 17px;
        color: $dark-grey;
    }

    .form-control {
        font-size: 14px;

        &:focus {
            border-bottom: 1px solid $orange;
            outline: none;
            box-shadow: none;
        }

        &:focus + label, &:valid + label {
            top: -18px;
            left: 0;
            font-size: 12px;
            color: $orange;
        }

        &:valid {
            border-bottom: 1px solid $green;
        }

        &:valid + label {
            color: $green;
        }
    }

    &.notValid {

        .form-control {
            border-bottom: 1px solid $red;

            &:valid {
                border-bottom: 1px solid $red;
            }
        }

        label {
            top: -18px;
            left: 0;
            font-size: 12px;
            color: $red;
        }
    }
}      

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
