.restoreprofile-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;

    @media (max-width: $medium-screen) {
        display: inline-block;
    }
}

.restoreprofile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0;

    h2 {
    }

    h2, p, small {
        text-align: center;
        color: $black;
        align-self: center;
    }

    small {
        color: $grey;
        margin-bottom: 15px;
    }

    .accordion {
        margin-top: 25px;

        .inner {
            width: 90%;
        }

        form {
            display: flex;
            flex-direction: column;
            position: relative;

            .btn {
                align-self: flex-start;
                margin: 10px 0;
            }

            a {
                align-self: flex-start;
                text-align: center;

                & > small {
                    text-decoration: underline;
                }
            }

            .form-control {
                &:focus + label, &:valid + label, &:invalid + label {
                    top: 10px;
                }
            }

            label {
                top: 10px;
            }

            label[for=smskode] {
                top: 0;
                position: absolute;
                padding-left: 0px;
                color: #666666;
            }
        }

        li {
            align-items: flex-start;
            margin-top: 22px;
        }
    }

    .btn-group {
        margin-bottom: 0;
        justify-content: flex-start;

        .icon-btn {
            position: relative;

            &:hover {
                background-color: $grey;
            }
        }
    }
}
// .btn-filled.success {
//     background-color: $green;
//     border-color: $green;
// }
// #resendCode {
//     display: none;  
//     &.active {
//         display: block;
//     }
// }
