.content {
	background-color: rgba($white, .9);
	width: 1000px;
	padding: 60px 50px 20px 50px;
	
	@media (max-width: $small-screen) {   
    	width: 100%;
    	padding: 100px 20px 20px 20px;
    }

	.row {
		display: flex;
		justify-content: center;
	}
	.signup {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		
		h2 {
			color: $black;
			margin-bottom: 15px;
		}

		p, small {
			text-align: center;
			max-width: 75%;
		}

		small {
			color: $grey;
			margin-bottom: 15px;
		}
	}
}