.signup-done {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;

	h2 {
		font-family: light;
		font-weight: 100;
		margin-bottom: 20px;

		span{
			font-family: bold;
		}
	}
	p {
		color: $white;
		font-size: 20px;
		line-height: 28px;
		text-align: center;
	}

	small {
		font-size: 14px;
	}

	.icon {
		margin: 20px 0;
		box-shadow: 0 0 0 15px rgba($black, .1);
		outline-radius: 50%;
		width: 260px;
        height: 260px;
		border-radius: 50%;
		background-color: rgba($orange, .8);

		.succes{
			fill: $white;
			stroke-dasharray: 320;
			
		}


	}
	
}

@keyframes dash {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;

	}
}