<div aria-hidden="true" aria-labelledby="m-add-shortcut" class="modal fade" id="m-add-shortcut" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Tilføj genvej</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                    <input type="text" class="form-control" required>
                    <label for="shortcut-name">Navngiv din genvej f.eks. Min startside</label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-link" required>
                        <label for="link">Skriv Webadresse f.eks. www.google.dk</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="btn btn-grey"> Fortryd </div> <div class="btn btn-filled"> Gem </div>
            </div>
        </div>
    </div>
</div>