<!-- Modal -->
<div class="modal fade" id="m-guide-2" tabindex="-1" role="guide" aria-labelledby="m-guide-2" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><span>Mit</span>PVS hjælp 1.1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Spar tid når du ansøger</h2>
        <ul class="icon-list">
            <li>
                <i class="fi flaticon-list-1"></i>
                <p>
                    <span>Saml alle de links</span>, du bruger i dit arbejde, et sted. 
                    </br>
                    </br>
                    Du kan selv <span>oprette nye links og arrangere</span> dem, som du ønsker.
                    Du kan altid slette dem, du ikke bruger.
                </p>

            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn btn-grey">Forrige</div>
        <div class="btn btn-filled">Ok</div>
        <div class="step-dots">
            <div class="dots"></div>
            <div class="dots"></div>
            <div class="dots active"></div>
        </div>
      </div>
    </div>
  </div>
</div>