<!-- Modal -->
<div class="modal fade" id="m-guide-1" tabindex="-1" role="guide" aria-labelledby="m-guide-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><span>Mit</span>PVS hjælp 1.1</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Spar tid når du ansøger</h2>
        <ul class="icon-list">
            <li>
                <i class="fi flaticon-edit-1"></i>
                <p>Din virksomheds information bliver <span>automatisk udfyldt</span>, når du ansøger via MitPVS</p>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn btn-grey">Forrige</div>
        <div class="btn btn-filled">Næste</div>
        <div class="step-dots">
            <div class="dots"></div>
            <div class="dots active"></div>
            <div class="dots"></div>
        </div>
      </div>
    </div>
  </div>
</div>