<!-- Modal -->
<div class="modal fade" id="m-info" tabindex="-1" role="info" aria-labelledby="m-info" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">MitPVS er ....</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus reiciendis debitis magnam fugit quas earum voluptate incidunt iste ducimus dignissimos repudiandae est architecto, ea praesentium ipsa, nemo enim illo. Reiciendis.</p>
      </div>
    </div>
  </div>
</div>