<!-- Modal -->
<div class="modal fade" id="m-dialog" tabindex="-1" role="dialog" aria-labelledby="m-dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Vil du fjerne Priser &amp; betaling</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Element fjernes fra din oversigtsside. Du kan altid tilføje elementet igen.</p>

      </div>
      <div class="modal-footer">
        <div class="btn btn-grey">Fortryd</div>
        <div class="btn btn-filled">Fjern</div>
      </div>
    </div>
  </div>
</div>