<!-- Modal -->
<div class="modal fade" id="m-guide" tabindex="-1" role="guide" aria-labelledby="m-guide" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><span>Mit</span>PVS hjælp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Sådan virker <span>Mit</span>PVS</h2>
        <ul class="icon-list">
            <li>
                <i class="icon-widget-more"></i>
                <p><span>See actions</span> lorem ipsum</p>
            </li>
            <li>
                <i class="icon-widget-move"></i>
                <p><span>Flyt rundt</span> på dine elementer</p>
            </li>
            <li>
                <i class="icon-widget-close"></i>
                <p><span>Fjern</span> de elementer, du ikke bruger</p>
            </li>
            <li>
                <i class="icon-widget-arrow-down"></i>
                <p><span>Fold</span> elementer ind og ud</p>
            </li>
            <li>
                <i class="icon-add"></i>
                <p><span>Tilføj og manage</span> MitPVS elementer</p>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn btn-filled">Næste</div>
        <div class="step-dots">
            <div class="dots active"></div>
            <div class="dots"></div>
            <div class="dots"></div>
        </div>
      </div>
    </div>
  </div>
</div>