<template>
  <div class="widget widget-find" v-if="data">
    <div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>
          {{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-if="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i class="icon-widget-more" data-toggle="tooltip" data-placement="top" :title="getDicItem('top_menu_more')"></i>
        </a>
        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-if="open">
        <div class="widget-menu">
          <ul>
            <li :class="{active: this.tab == 1}" @click.prevent="changeTab(1, data.WidgetId)">
              <a>{{ data.nameOfTab
          }}</a>
          </li>
          <li :class="{active: this.tab == 2}" @click.prevent="changeTab(2, data.WidgetId)">
            <a>{{ data.tabName }}</a>
          </li>
          </ul>
</div>
        <!--tab 1 -->
        <div class="widget-content" v-if="this.tab == 1">
          <div class="content">
            <div class="filter-wrapper tag-wrapper">
              <div class="filter">
                <!-- filter 1-->
                <!-- @dropdownSelected listen for changes from dropdown -->
                <!-- @tags clears to tag array with an empty evertime it's changes -->
                <widget-dropdown
                  :title="data.dropdownTab1TitleOne"
                  :options="data.dropdownTab1"
                  @checkboxes="checkboxes = $event"
                  @tags="selectedTags = $event"
                  @category="category = $event"
                  @dropdowntitle="dropdowntitle = $event"
                ></widget-dropdown>
                <!-- filter 2-->
                <!-- :title passes the dropdown placeholder text -->
                <!-- @tags listen for tags changes from dropdownCheckbox and updates tags to the returned event -->
                <!-- :tags sends changes in tags to dropdownCheckbox -->
                <widget-dropdown-checkbox
                  :class="{ notActive: selectedTags.length <= 0}"
                  :title="data.dropdownTab1TitleTwo"
                  :options="checkboxes"
                  :maxText="data.selectedMaxText"
                  @tags="selectedTags = $event"
                  :tags="selectedTags"
                ></widget-dropdown-checkbox>
              </div>
              <!-- :tags sends tags to the tag component -->
              <!-- @remove-tags listens for tags changes in the componenet and updates tags[] in parent -->
              <widget-tags :tags="selectedTags" @remove-tags="selectedTags = $event"></widget-tags>
            </div>
            <div class="search-wrapper">
              <div class="input-search" v-if="selectedTags.filter((x,i) => { return x.selected; }).length <= 0">
                <input
                  :class="{notActive: !this.selectedTags.filter((x) => { return x.selected; }).length > 0}"
                  type="text"
                  class="form-control"
                  :placeholder="data.searchPlaceholder1"
                  aria-label="Søg"
                >
                <button
                  class="btn_search"
                  :class="{notActive: !this.selectedTags.filter((x) => { return x.selected; }).length > 0}"
                  type="button"
                >
                  <i class="icon-search"></i>
                </button>
              </div>

              <div v-for="(input,index) in inputs" :key="index" v-on:input="updateUrl"  class="input-search" v-if="selectedTags.filter((x,i) => { return x.selected; }).length > 0 && index < 2">
                <label>{{ input.label }}</label>
                <input
                  type="text"
                  class="form-control"
                  :placeholder="input.placeholder"
                  aria-label="Søg"
                  v-model="input.input"
                >
                <button class="btn_search" type="button">
                  <i class="icon-search"></i>
                </button>
              </div>

              <div class="checkbox-filter">
                  <widget-checkboxes :checkboxes="this.checkboxes"
                                     @selected-checkboxes="selectedCheckboxes = $event"></widget-checkboxes>
                  <a target="_blank"
                     :class="{ notActive: disabled()}"
                     :href="url"
                     @click="saveToHistory({title: historyText, link: url, widgetId: data.WidgetId,tabNumber: tab, token: $route.params.accessToken})">
                      <div class="btn btn-filled">
                          {{ data.searchButtonPlaceholder }}
                      </div>
                  </a>

              </div>
            </div>
          </div>
        </div>
        <div class="widget-footer" v-if="this.tab == 1">
        <a
            class="btn btn-light"
            v-for="(link, index) in JSON.parse(data.linksTab1)"
            :key="index"
            :target="link.newWindow ? '_blank': null"
            :href="link.link"
        >
            <i class="icon-arrow-link"></i>
            {{ link.caption }}
        </a>
        <a
            @click.prevent="historyTab1 = !historyTab1, resize()"
            v-show="historyList.filter((x, i) => { return x.tabNumber == this.tab}).length > 0"
        >
            <i :class="(historyTab1) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
            {{ data.histroyTab1Text }}
        </a>
        <transition name="slide" v-bind:css="false">
            <ul class="widget-list expand-list" v-if="historyTab1">
            <li v-for="(link, index) in listLimited(historyList, tab)" :key="index" v-if="link.tabNumber == tab">
                <a target="_blank" :href="link.link">{{link.title}}</a>
            </li>
            </ul>
        </transition>
        </div>
        <!-- tab 2 -->
        <div class="widget-content" v-if="this.tab == 2">
          <div class="content">
            <div class="filter-wrapper large-wrapper">
              <!-- filter 1-->
              <widget-dropdown
                :title="data.dropdownTab2TitleOne"
                :options="data.dropdowntab2"
                @tags="materialetab2values = $event"
                @dropdowntitle="dropdowntitletab2 = $event"
              ></widget-dropdown>
              <!-- filter 2-->
              <widget-dropdown-single
                :title="data.dropdownTab2TitleTwo"
                :options="materialetab2values"
                @selectedValue="urltab2 = $event"
                :class="{ notActive: materialetab2values.length === 0}"
              ></widget-dropdown-single>
              <a target="_blank"
                 :href="urltab2.value"
                 :class="{ notActive: Object.keys(urltab2).length === 0}"
                 @click="saveToHistory({title: historyTexttab2, link: urltab2.value, widgetId: data.WidgetId,tabNumber: tab, token: $route.params.accessToken})">
                  <div class="btn btn-filled">
                      {{ data.searchButtonPlaceholder2 }} {{ urltab2.name }}

                  </div>
              </a>
            </div>
          </div>
        </div>
        <div class="widget-footer" v-if="this.tab == 2">
        <a
            class="btn btn-light"
            v-for="(link, index) in JSON.parse(data.linksTab2)"
            :key="index"
            :target="link.newWindow ? '_blank': null"
            :href="link.link"
        >
            <i class="icon-arrow-link"></i>
            {{ link.caption }}
        </a>
        <a
            @click.prevent="historyTab2 = !historyTab2, resize()"
            v-show="historyList.filter((x, i) => { return x.tabNumber == this.tab}).length > 0"
        >
            <i :class="(historyTab2) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
            {{ data.histroyTab2Text }}
        </a>
        <transition name="slide" v-bind:css="false">
            <ul class="widget-list expand-list" v-if="historyTab2">
            <li v-for="(link, index) in listLimited(historyList, tab)" :key="index" v-if="link.tabNumber == tab">
                <a target="_blank" :href="link.link">{{link.title}}</a>
            </li>
            </ul>
        </transition>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import Dropdown from "../widget-components/Dropdown.vue";
import DropdownSingle from "../widget-components/Dropdown-single.vue";
import DropdownCheckbox from "../widget-components/Dropdown-checkbox.vue";
import Checkboxes from "../widget-components/Checkboxes.vue";
import Tags from "../widget-components/Tags.vue";
import Vue from "vue";
//Mixin
import optionsMixin from "../../mixins/mixins.js";


export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: {
    "widget-dropdown": Dropdown,
    "widget-dropdown-single": DropdownSingle,
    "widget-dropdown-checkbox": DropdownCheckbox,
    "widget-tags": Tags,
    "widget-checkboxes": Checkboxes
  },
  data() {
    return {
      // widget var
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      tab: this.data.Tab != null ? this.data.Tab : "1",
      //var for tab 1
      checkboxes: [],
      //tags: [],
      baseUrl: this.data.baseUrlTab1,
      url: "",
      category: "",
      inputs: [],
      selectedTags: [],
      selectedCheckboxes: [],
      dropdowntitle: "",
      historyText: "",
      historyTab1: false,
      historyTab2: false,
      historyList: [],
      dropdowntitletab2: "",
      historyTexttab2: "",

      // var for tab 2
      materialetab2values: [],
      urltab2: []
    };
  },
created: function () {
    this.resize();
    this.historyList =
    this.data.UserLinks != null ? JSON.parse(this.data.UserLinks) : [];
    this.historyList.reverse();
  },
  methods: {
    updateUrl: function () {
      var vm = this;
      // selected tags array
      var input = "";
      var historyText = vm.dropdowntitle + " - ";

      vm.inputs.forEach(function (e) {
        input += "&" + e.value + "=" + e.input;
        historyText += vm.capitalize(e.label) + ": " + vm.capitalize(e.input) + " & ";
      });

      // checkboxes selected
      var checkboxes = this.joinArray(this.selectedCheckboxes, ",");
       //full search url
      vm.url = vm.baseUrl + "?ipr=" + vm.category.toLowerCase() + input + (checkboxes != "" ? "&data=" + checkboxes : "");

      historyText = historyText.replace(/&([^&]*)$/, '$1'); //a_bc
      this.historyText = historyText;

    },
    clear: function () {
      this.url = "";
      this.selectedCheckboxes = [];
      this.selectedTags.forEach(e => {
        e.selected = false;
      });
    },
    disabled: function () {
          console.log()
          if (this.url == '' || (this.selectedCheckboxes.length == 0 && this.checkboxes != null) || this.inputs.filter((x) => { return x.input == undefined; }).length > 0 || !((this.inputs.filter((x) => { return x.input != ""; }).length) === this.inputs.length && this.inputs.length != 0)) {
        return true;
    }
    return false;
    }
  },
  // watch for changes on the parameters
  watch: {
    category: {
      handler: function() {
        this.clear();
        this.resize();
      }
    },
    selectedTags: {
        handler: function () {
        var vm = this;
        vm.updateUrl();
        vm.resize();
        //Clear inputs
        this.inputs = [];
        var tags = vm.selectedTags;
        // check and remove input fields if dropdown checkmark are changed
        tags.forEach(function (e) {
            if (e.selected) {
                var found = vm.inputs.some(function (el) {
                    return el.value === e.value;
                });
                if (!found) {
                    vm.inputs.push(e);
                }
            } else {
                e.input = "";
            }
        });
      },
      deep: true
    },
    selectedCheckboxes: {
      handler: function() {
        this.resize();
        
        this.updateUrl();
      },
      deep: true
    },
    inputs: {
        handler: function () {
            this.updateUrl();
        },
        deep: true
    },
    historyList: {
      handler: function() {
        this.resize();
      },
      deep: true
    },
    historyTab1: {
      handler: function() {
        this.resize();
      },
      deep: true
    },
    historyTab2: {
      handler: function() {
        this.resize();
      },
      deep: true
    },
    materialetab2values: {
      handler: function () {
          var vm = this;
          vm.urltab2 = {};
        },
        deep: true
    },
    urltab2: {
      handler: function () {
        var vm = this;
        vm.historyTexttab2 = vm.dropdowntitletab2 + ": " + vm.urltab2.name;
      },
      deep: true
    },
  }
};
</script>

<style lang="scss" scoped>
.widget-find {
  width: 100%;

    .large-wrapper
    {
        width: 100%;

        .app-dropdown {
            max-width: 270px;            
        }
    }
  .widget-content {
    display: flex;
    flex-direction: column;
    padding: 0;
    }
  .content {
    display: flex;
    position: relative;
    padding: 30px 20px;
    justify-content: space-between;

    @media (max-width: $medium-screen) {
      flex-direction: column;

      .search-wrapper {
        width: 80.5%;
      }
    }

    .input-search {
      position: relative;

      input {
        width: 100%;
        height: 51px;
        box-sizing: border-box;
      }
      .btn_search {
        height: 51px;
        width: 55px;

      }
      label {
        top: -20px;
        position: absolute;
        font-size: 12px;
        color: $grey;
        margin-left: 0px;
        margin-bottom: 5px;
      }
    }
  }

  .widget-footer {
    width: 100%;
  }
  .divider {
    height: 1px;
    width: 100%;
    padding: 0 5px;
    margin: 25px 0;
    background-color: $dark-grey;
  }

  .search-wrapper {
    width: 40%;

    .input-search {
      margin-bottom: 30px;

      
      .btn_search {
         height: 51px;
      }
    }

    label {
        font-family: light;
        top: -20px;
        position: absolute;
        font-size: 12px;
        color: $light-black;
        margin-left: 0px;
        margin-bottom: 5px;
      }

    .checkbox-filter {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      a {
        align-self: flex-end;
        margin-top: 20px;
      }
      .checkbox-wrapper {
        display: flex;

        label {
          margin-right: 15px;
        }
      }
    }
  }

    .filter-wrapper {
    display: flex;
    flex-direction: row;

    &.tag-wrapper {
      display: flex;
      flex-direction: column;
    }
    .filter {
      display: flex;
      margin-right: 20px;

      .select {
        margin-bottom: 0;
      }
    }

    @media (max-width: $small-screen) {

      .checkbox-dropdown {
        width: 100%;
      }

      .input-search {
        margin-top: 10px;
      }

      .filter {
        flex-direction: column;
        .app-dropdown {
        margin-bottom: 15px;
        }
      }
    }
  

   
    @media (max-width: $medium-screen) {
      margin-bottom: 20px;
    }
  }

  @media (max-width: $small-screen) {
    .checkbox-filter, .checkbox-wrapper {
      flex-direction: column;
    }
    .checkbox-wrapper {
      margin-bottom: 10px;
    }
    a {
      display: inline-block;
    }
  }
  .tags-wrapper {
    margin: 32px 0;
  }
}

// transition
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s;
}
.slide-enter {
  margin-bottom: 0px;
}
.slide-leave-to {
  margin-bottom: 0;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

