<template>
  <div class="widget" v-if="data">
    <div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i class="icon-widget-more" data-toggle="tooltip" data-placement="top" :title="getDicItem('top_menu_more')"></i>
        </a>
        
        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-content">
          <div class="dropdown-btn">
            <div class="filter">
              <widget-dropdown-single
                :title="data.dropdownTitle"
                :options="dropdown"
                @selectedValue="selectedValue = $event"
              ></widget-dropdown-single>
            </div>
            <a @click="feedModal()" target="_blank" :class="{ notActive: selectedValue.length === 0}">
                <div class="btn-widget">
                    {{ data.buttonText }}
                </div>
            </a>
          </div>
          <p class="list-title">{{ data.latestTitle  }}</p>
          <transition name="slide">
            <ul class="widget-list link-list" v-show="this.lastestfeed.length > 0">
              <li v-for="(item, index) in lastestfeed" :key="index">
                <a target="_blank" :href="item.url">
                  <div class="link">
                      <span>{{ item.title }}</span>
                    <small v-html="item.description"></small>
                  </div>
                </a>
              </li>
            </ul>
          </transition>

          <a @click.prevent="showHistory()" v-show="historyList.length > 0">
            <i :class="(history) ? 'icon-expand-arrrow-up' : 'icon-expand-arrrow-down' "></i>
            <span>{{ data.histroyTab1Text}}</span>
          </a>
          <transition name="slide" v-bind:css="false">
            <ul class="widget-list expand-list" v-if="history">
              <li v-for="(link, index) in historyList" :key="index" v-if="link.tabNumber === tab">
                <a target="_blank" :href="link.link">{{link.title}}</a>
              </li>
            </ul>
          </transition>
        </div>
      </div>
    </transition>
  </div>
</template>


<script>
import DropdownSingle from "../widget-components/Dropdown-single.vue";
import axios from "axios";
//Mixins
import optionsMixin from "../../mixins/mixins.js";

export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: {
    "widget-dropdown-single": DropdownSingle
  },
  data() {
    return {
      // widget variables
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      overlay: true,
      // return from dropdown
      dropdown: [],
      selectedValue: "",
      lastestfeed: [],
      feed: [],
      history: false,
      historyList: []
    };
  },
created: function () {
    this.dropdownValues();
    this.getFeed(this.data.latestFeed);
    this.resize();

  },
  methods: {
    dropdownValues: function () {
      this.dropdown = JSON.parse(this.data.dropdown);
    },
    getFeed(url) {
      axios
        .get(url)
        .then(response => {
            this.lastestfeed = response.data.items;
          this.resize();

        })
        .catch(error => console.log(error));
    },
    feedModal: function () {
      axios
        .get(this.selectedValue.value)
        .then(response => {
          console.log(response.data);
          this.$modal.show("feed-modal", {
            title: this.selectedValue.name,
            multifeed: response.data
          });
        })
        .catch(error => console.log(error));
    }
  },
  watch: {
    selectedValue: {
      handler: function() {
        console.log();
        this.getFeed(this.selectedValue.latestUrl);
      }
    },
    feed: {
      handler: function() {
        this.resize();
      }
    },
    lastestfeed: {
      handler: function() {
        this.resize();
      }
    }
  }
};
</script>

<style lang="scss" scoped>


.list-title {
  margin-top: 50px;
}
.widget-list li {
  line-height: 22px;
  border-bottom: 0.1px solid $dark-grey;
  a, .link {
             width: 100%;
  }
  p {
    margin-bottom: 0px;
  }
  small p {
    margin: 0 !important;
  }
}
  .widget .dropdown-btn .filter {
    width: 64%;

    
  }
  

.widget-content {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 30px 25px;
}

.divider {
  height: 1px;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  background-color: $dark-grey;
}

.widget .dropdown-btn {

  .filter {
    width: 65%;
  }
  .btn-widget {
    height: 19px;
  }
}
@media (max-width: $medium-screen) {
    .widget .dropdown-btn {
      justify-content:flex-end;
      a {
          margin-top: 15px;
          height: 100%;
        }
    }
    .widget .dropdown-btn .filter {
      width: 100%;
    }
  
}
.link-list small  {
  color: $grey;
}
.app-dropdown {
  margin: 0;
  width: 100%;
}
// transition
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
</style>
