<template>
  <div class="widget news-feed" v-if="data">
    <widget-loading :active="overlay" spinner="spinner" color="#fb8631" :is-full-screen="false"/>

    <div class="topbar">
      <div class="title">
        <i class="fi" :class="data.widgetIcon"></i>
        <p>{{ data.widgetTitle }}</p>
        <i class="icon-info" data-toggle="tooltip" data-placement="top" @click="showInfoModal"></i>
      </div>
      <div class="options">
        <transition name="fade">
          <div class="options-wrapper" v-show="!hideOptions">
            <i
              class="icon-widget-move vue-draggable-handle"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_move')"
            ></i>
            <i
              class="icon-widget-close"
              data-toggle="tooltip"
              data-placement="top"
              :title="getDicItem('top_menu_remove')"
              @click.prevent="triggerRemoveWidget(data.WidgetId, data.widgetTitle)"
            ></i>
          </div>
        </transition>
        <a @click.prevent="toogleOptions">
          <i class="icon-widget-more" data-toggle="tooltip" data-placement="top" :title="getDicItem('top_menu_more')"></i>
        </a>
        
        <a class="collapse-widget">
          <i
            :class="open ? 'icon-widget-arrow-up' : 'icon-widget-arrow-down'"
            data-toggle="tooltip"
            data-placement="top"
            :title="getDicItem('top_menu_close')"
            @click.prevent="resizeFold(data.WidgetId)"
          ></i>
        </a>
      </div>
    </div>
    <transition name="slide" v-bind:css="false">
      <div v-show="open">
        <div class="widget-menu">
          <ul>
            <li :class="{active: this.tab == 1}" @click.prevent="changeTab(1, data.WidgetId)">
              <a>{{ data.firstTabName }}</a>
            </li>
            <li :class="{active: this.tab == 2}" @click.prevent="changeTab(2, data.WidgetId)">
              <a>{{ data.secondTabName }}</a>
            </li>
          </ul>
        </div>
        <!-- tab 1 -->
        <div class="widget-content" v-show="this.tab == 1">
          <div class="content">
            <!-- Slider Speed 1/2 -->
            <widget-slides
              autoplay
              speed="8000"
              transition-speed="250"
              :arrows="true"
              :touchable="false"
            >
              <widget-slide
                v-for="(slide, i) in this.news"
                :key="i"
                :image="slide.image_bg"
                
                class="courses-slider"
                
              >
                
                <div slot="slideContent" class="item" @click="showNews(news, i, slide.title)">
                    <div class="slider-content">
                      <small>{{slide.date_published | formatDate}}</small>
                      <p>
                        <span>{{ data.titleTab1 }}</span>
                        {{ slide.title}}
                      </p>
                    </div>
                </div>
                
              </widget-slide>
            </widget-slides>
          </div>
          <div class="widget-footer">
            <a
              class="btn btn-light"
              v-for="(link, index) in JSON.parse(data.linksTab1)"
              :key="index"
              :target="link.newWindow ? '_blank': null"
              :href="link.link"
            >
              <i class="icon-arrow-link"></i>
              {{ link.caption }}
            </a>
          </div>
        </div>
        <!-- tab 2 -->
        <div class="widget-content" v-show="this.tab == 2">
          <div class="content" v-if="events.length > 0">
            <!-- Slider Speed 2/2 -->
            <widget-slides
              autoplay
              speed="8000"
              transition-speed="250"
              :arrows="true"
              :touchable="false"
            >
              <widget-slide
                v-for="(slide, i) in this.events"
                :key="i"
                :image="slide.image_bg"
                class="courses-slider"
              >
                <div slot="slideContent" class="item">
                  <a>
                    <a :href="slide.link" target="_blank"><div class="slider-content">
                      <small>{{slide.date_headline }}</small>
                      <small>{{ slide.location_headline}}</small>
                      <p>
                        <span>{{ data.titleTab2 }}</span>
                        {{ slide.title}}
                      </p>
                    </div>
                    </a>
                  </a>
                </div>
              </widget-slide>
            </widget-slides>
          </div>
          <div class="content" v-if="events.length < 0">
              <div class="courses-empty">
                  <i class="fi flaticon-calendar-5"></i>
                  <h3>{{ data.noEventsTitle }}</h3>
                  <span v-html="data.noEventsText"></span>
              </div>
          </div>
          <div class="widget-footer">
            <a
              class="btn btn-light"
              v-for="(link, index) in JSON.parse(data.linksTab2)"
              :key="index"
              :target="link.newWindow ? '_blank': null"
              :href="link.link"
            >
              <i class="icon-arrow-link"></i>
              {{ link.caption }}
            </a>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
//Loader
import ElementLoading from "vue-element-loading";
// In your VueJS component.
import { VueperSlides, VueperSlide } from "vueperslides";

// Since v. 1.6.0, you need to include Vueper Slides CSS file for default styles.
import "vueperslides/dist/vueperslides.min.css";

//Mixin
import optionsMixin from "../../mixins/mixins.js";

import axios from "axios";

export default {
  props: ["data"],
  mixins: [optionsMixin],
  components: {
    "widget-loading": ElementLoading,
    "widget-slides": VueperSlides,
    "widget-slide": VueperSlide
  },
  data() {
    return {
      // widget var
      open: this.data.Open == "1" ? true : false,
      hideOptions: true,
      overlay: true,
      tab: this.data.Tab != null ? this.data.Tab : "1",
      news: [
        {
          placeholder: "slider"
        }
      ],
      events: [
        {
          placeholder: "slider"
        }
      ]
    };
  },
created: function () {
    this.resize();
  },
  methods: {
    showNews(data, index, title) {
      this.$modal.show("news-modal", { allNews: data, index: index, title: title });
    }
  },
    mounted: function () {
      var vm = this;
      setTimeout(function () {
        console.log("Get news")
        axios
          .get("https://www.dkpto.dk/feeds/news")
          .then(response => {
            vm.news = response.data.items;
            vm.overlay = false;
            vm.resize();
          })
          .catch(error => console.log(error));

        axios
          .get("https://www.dkpto.dk/feeds/events")
          .then(response => {
            vm.events = response.data.items;
            vm.overlay = false;
          })
          .catch(error => console.log(error));
      }, 5000);
   
  }
};
</script>
<style lang="scss">
.vueperslides__parallax-wrapper {
  padding-bottom: 70% !important;
}
.vueperslide__content-wrapper {
  width: 100% !important;
  bottom: 0 !important;
  left: 0 !important;
  transform: none !important;
  text-align: left !important;
}
.vueperslides__bullets {
  justify-content: flex-start !important;
  left: 15px !important;
}

.vueperslides__bullet {
  width: 8px;
  height: 8px;
  border-radius: 12px;
  border: 1px solid #fff;
  margin: 1.5em 0.4em;
  padding: 0;
}
.vueperslides__bullet--active {
  background-color: $orange;
}

.vueperslides__arrow {
  height: 50px;
  background-color: $white;
  fill: $orange !important;
  opacity: 1;
  font-size: 2em;

  svg {
        width: 20px;
        height: 20px;
      }
}
  .vueperslides__arrow--prev {
    left: 0;
    svg {
      position: absolute;
      left: 10px;
      top: 15px;
    }
}
  .vueperslides__arrow--next {
    right: 0;

    svg {
      position: absolute;
      right: 10px;
      top: 15px;
    }
  }
</style>

<style lang="scss" scoped>
.divider {
  height: 1px;
  width: 100%;
  padding: 0 5px;
  margin: 25px 0;
  background-color: $dark-grey;
}
.widget-content {
  padding: 0;
}
.courses-slider {
  img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  .item {
    .slider-content {
      color: $white;
      width: 94%;
      position: absolute;
      bottom: 0;
      padding: 30px 20px;
      z-index: 10;
      background: linear-gradient(to top, $black, transparent);
      cursor: pointer;
      span {
        font-family: bold;
      }

      p {
        font-family: light;
        font-size: 20px;
        line-height: 24px;
        margin-top: 13px;
        margin-bottom: 15px;
      }
    }
  }
}

.courses-slider {
  small {
    background-color: $black;
    padding: 5px 15px;
    margin-bottom: 5px;
  }
}

.courses-empty {
  color: $white;
  padding: 60px 20px;
  width: 65%;

  i {
    font-size: 35px;
  }

  h3 {
    font-family: bold;
    font-size: 18px;
    line-height: 24px;
    margin: 10px 0;
  }

  p {
    font-family: light;
    font-size: 14px;
  }
}

.inner {
  padding: 10px 20px;
}

// transition
.slide-enter-active,
.slide-leave-active {
  transition: opacity 0.2s;
}
.slide-enter {
  margin-bottom: 0px;
}
.slide-leave-to {
  margin-bottom: 0;
}
.slide-enter, .slide-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>

