<template>
    <modal name="dialog-modal"
    transition="nice-modal-fade"
    classes="modal"
    :min-width="200"
    :min-height="200"
    :adaptive="true"
    :scrollable="true"
    :reset="true"
    height="auto"
    @before-open="beforeOpen"
    >
        <div class="modal-content">
            <!-- Modal -->
          <div class="modal fade" id="m-dialog" tabindex="-1" role="dialog" aria-labelledby="m-dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ getDicItem("remove_widget_title") }} - {{ this.title }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="hideModal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">{{ getDicItem("remove_widget_msg") }} </div>
                <div class="modal-footer">
                    <div class="btn" @click="hideModal"> {{ getDicItem("no") }}</div>
                    <div class="btn btn-filled" @click="removeWidget">{{ getDicItem("yes") }}</div>
                </div>
              </div>
            </div>
          </div>
          
           
        </div>
    </modal>
</template>
<script>
//Mixins
import optionsMixin from "../../mixins/mixins.js";

export default {
  name: "DialogModal",
  mixins: [optionsMixin],
  data() {
    return {
        title: "",
        text: "",
        id: "",
    };
  },
  methods: {
beforeOpen: function(e) {
      this.title = e.params.title;
      this.text = e.params.text;
      this.id = e.params.id;
    },
    removeWidget: function() {
        this.$root.$emit("remove-widget", this.id);
        this.hideModal();
    },
    hideModal: function() {
      this.$modal.hide("dialog-modal");
    }
  }
};
</script>
<style lang="scss">

.icon-list {
  margin-top: 35px;
  list-style-type: none;
  padding-left: 0px;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
      margin-bottom: 0;

      span {
        font-family: bold;
        color: $orange;
      }
    }

    i {
      align-self: flex-start;
      font-size: 36px;
      border-radius: 50px;
      padding: 8px;
      background: $dark-white;
      margin-right: 25px;
    }

    .fi {
      font-size: 32px;
      padding: 10px;
    }
  }
}
    .modal-footer {
    .btn
    {
        background-color: $white;
        border-color: $lighter-black;
        color: $lighter-black;
        &:hover
        {
            background-color: darken($white, 5%);
            color: $black;
            border-color: $grey;
        }

    }

    .btn-filled {
        background-color: $orange;
        border-color: transparent;
        color: $white;
        &:hover

    {
        background-color: darken($orange, 15%);
        color: $white;
    }

    }

    button {
        margin: 20px 10px;
        max-width: 180px;
        padding: 18px 0px;
    }

}
</style>
