<template>
    <modal name="info-modal"
    transition="nice-modal-fade"
    classes="modal"
    :min-width="200"
    :min-height="200"
    height="90%"
    :adaptive="true"
    :scrollable="true"
    :reset="true"
    @before-open="beforeOpen"
    >
        <div class="modal-content">
            <!-- Modal -->
          <div class="modal fade" id="m-dialog" tabindex="-1" role="dialog" aria-labelledby="m-dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">{{ this.title }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="hideModal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" v-html="text"></div>
                <div class="modal-footer">
                  <div class="btn btn-filled" @click="hideModal">Luk</div>
                </div>
              </div>
            </div>
          </div>
          
           
        </div>
    </modal>
</template>
<script>
export default {
  name: "InfoModal",
  data() {
    return {
      title: "",
      text: ""
    };
  },
  methods: {
    beforeOpen(e) {
      this.title = e.params.title;
      this.text = e.params.text;
    },

    hideModal: function () {
      this.$modal.hide("info-modal");
    }
  }
};
</script>
<style lang="scss">

.icon-list {
  margin-top: 35px;
  list-style-type: none;
  padding-left: 0px;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
      margin-bottom: 0;

      span {
        font-family: bold;
        color: $orange;
      }
    }

    i {
      align-self: flex-start;
      font-size: 36px;
      border-radius: 50px;
      padding: 8px;
      background: $dark-white;
      margin-right: 25px;
    }

    .fi {
      font-size: 32px;
      padding: 10px;
    }
  }
}
</style>
