<template>
    <modal name="removeuser-modal"
    transition="nice-modal-fade"
    classes="modal"
    :min-width="200"
    :min-height="200"
    :adaptive="true"
    :scrollable="true"
    :reset="true"
    height="auto"
    @before-open="beforeOpen"
    >
        <div class="modal-content">
            <!-- Modal -->
          <div class="modal fade" id="m-dialog" tabindex="-1" role="dialog" aria-labelledby="m-dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ title }}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="hideModal">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">{{ text }} </div>
                <div class="modal-footer">
                  <div class="btn" @click="hideModal"> {{ btn_no }}</div>
                  <div class="btn btn-filled" @click="removeWidget">{{ btn_yes }}</div>
                </div>
              </div>
            </div>
          </div>
          
           
        </div>
    </modal>
</template>
<script>
//Mixins
import optionsMixin from "../../mixins/mixins.js";
export default {
    name: "RemoveuserModal",
    mixins: [optionsMixin],
  data() {
    return {
        title: "",
        text: "",
        btn_no: "",
        btn_yes: "",
    };
  },
  methods: {
    beforeOpen(e) {
      console.log(e)
      this.title = this.getDicItem("modal_removeuser_title");
      this.text = this.getDicItem("modal_removeuser_text");
      this.btn_no = this.getDicItem("modal_removeuser_no");
      this.btn_yes = this.getDicItem("modal_removeuser_yes");
    },
      removeWidget: function () {
        this.$cookie.delete("userToken");
        var url =
            this.$localUrl +
            "/umbraco/api/UserData/DeleteAllData?token=" +
            this.$route.params.accessToken;
        axios
            .get(url)
            .then(response => {
                this.hideModal();
                window.location.replace("/");
            })
            .catch(e => {
                this.show = true;
                console.log(e);
            });
        
    },
      hideModal: function () {
      this.$modal.hide("removeuser-modal");
    }
  }
};
</script>
<style lang="scss">

.icon-list {
  margin-top: 35px;
  list-style-type: none;
  padding-left: 0px;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    p {
      margin-bottom: 0;

      span {
        font-family: bold;
        color: $orange;
      }
    }

    i {
      align-self: flex-start;
      font-size: 36px;
      border-radius: 50px;
      padding: 8px;
      background: $dark-white;
      margin-right: 25px;
    }

    .fi {
      font-size: 32px;
      padding: 10px;
    }
  }
}
    .modal-footer {
    .btn
    {
        background-color: $white;
        border-color: $lighter-black;
        color: $lighter-black;
        &:hover
        {
            background-color: darken($white, 5%);
            color: $black;
            border-color: $grey;
        }

    }

    .btn-filled {
        background-color: $orange;
        border-color: transparent;
        color: $white;
        &:hover

    {
        background-color: darken($orange, 15%);
        color: $white;
    }

    }

    button {
        margin: 20px 10px;
        max-width: 180px;
        padding: 18px 0px;
    }

}
</style>
