<template>
  <modal
    name="shortcut-modal"
    transition="nice-modal-fade"
    classes="modal"
    :min-width="200"
    :min-height="200"
    :adaptive="true"
    :scrollable="true"
    :reset="true"
    height="auto"
    @before-open="beforeOpen"
  >
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">{{ getDicItem("modal_editshortcut_Title")}}</h5>
        <button
          @click="hideModal()"
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="widget-list modal-list edit modal-link-list">
          <link-layout
            :layout="this.layout"
            :col-num="1"
            :row-height="25"
            :is-draggable="true"
            :is-resizable="false"
            :vertical-compact="true"
            :use-css-transforms="true"
            :autoSize="true"
            @layout-updated="layoutUpdatedEvent"
          >
            <link-item
              v-for="(item, index) in layout"
              :key="index"
              :x="0"
              :y="item.y"
              :w="1"
              :h="1"
              :i="item.i"
              drag-allow-from=".vue-draggable-handle"
              drag-ignore-from=".no-drag"
            >
              <li :data-id="links[index].linkId" :title="links[index].link">
                <div
                  @click.prevent="addModal({id: links[index].linkId, title: links[index].title, link: links[index].link, order: links[index].order})"
                >{{ links[index].title}}</div>
                <div class="icons">
                  <i :data-id="links[index].linkId" class="icon-widget-move vue-draggable-handle"></i>
                  <i v-if="parseInt(links[index].pvsLink) !== 1" @click="deletelink(links[index].linkId, index)" class="icon-widget-close"></i>
                </div>
              </li>
            </link-item>
          </link-layout>
        </ul>
      </div>
      <div class="modal-footer">
        <div class="btn btn-grey" @click.prevent="hideModal()">{{getDicItem("modal_shortcut_save_close")}}</div>
          <div class="btn btn-filled" @click.prevent="addModal({length: layout.length})">{{getDicItem("modal_add_link_title")}}</div>
      </div>
    </div>
  </modal>
</template>
<script>
import VueGridLayout from "vue-grid-layout";

var LinkLayout = VueGridLayout.GridLayout;
var LinkItem = VueGridLayout.GridItem;

import optionsMixin from "../../mixins/mixins.js";
export default {
  name: "ShortcutModal",
  components: {
    "link-layout": LinkLayout,
    "link-item": LinkItem
  },
  mixins: [optionsMixin],
  data() {
    return {
      links: [],
      layout: [],
      widgetId: ""
    };
  },
  methods: {
    beforeOpen(e) {
      this.layout = e.params.layout;
      this.links = e.params.links;
      this.widgetId = e.params.widgetId;
      console.log(this.links)

    },
     addModal: function(length) {
      this.$modal.show("addEditShortcut-modal", {
        title: "Tilføj Link",
        link: length,
        widgetId: this.widgetId,
      });
    },
      hideModal: function () {
      this.$modal.hide("shortcut-modal");
    },
    deletelink: function(value, index) {
      var link = {
        linkId: value,
        token: this.$route.params.accessToken,
        widgetId: this.widgetId
      };
      var url = this.$localUrl + "/umbraco/api/Shortcut/Remove";
      axios
        .post(url, link, {
          headers: {
            "Content-type": "application/json"
          }
        })
        .then(function(response) {
          console.log(response.data);
        })
        .catch(function(error) {
          console.log(error);
        });
      if (index > -1) {
        this.links.splice(index, 1);
        this.layout.splice(index, 1);
      }
    },
    layoutUpdatedEvent(newLayout) {
      //Saves the grid order to the user in umbraco
      this.layout = newLayout;
      var links = [];
      newLayout.forEach(e => {
        var link = {
          linkId: e.i,
          order: e.y,
          token: this.$route.params.accessToken,
          widgetId: this.widgetId
        };
        links.push(link);
      });
      var url = this.$localUrl + "/umbraco/api/Shortcut/Update";
      this.$http
        .post(url, links, {
          headers: {
            "Content-type": "application/json"
          }
        })
        .then(function(response) {
          console.log(response.data);
        })
        .catch(function(error) {
          console.log(error);
        });
    }
  }
};
</script>
<style lang="scss">
// *********************** //
// Modal list              //
// *********************** //
i.fi.flaticon-power {
  right: 6px;
  top: 2px;
  font-size: 21px;
  cursor: pointer;

  &.linkOn {
    color: $orange;
  }
}
</style>
